<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('banners.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>

                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('banners.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('banners.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]"
                                                   class="text-danger">{{ errors['name.' + locale] }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- image -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('banners.form.image.title') + '('+ locale +')'"
                                            :label-for="'image-'+locale"
                                        >
                                            <b-form-file
                                                :id="'image-'+locale"
                                                v-model="form.image[locale]"
                                                :name="'image-'+locale"
                                                :placeholder="trans.get('banners.form.image.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                                accept="image/*"
                                                @change="imgPreview(locale, $event)"
                                            />
                                            <small v-if="errors['image.'+locale]" class="text-danger">{{
                                                    errors['image.' + locale]
                                                }}</small>
                                        </b-form-group>
                                        <b-card
                                            v-if="!lodash.isEmpty(img_preview[locale])"
                                            :img-alt="img_preview[locale].name"
                                            :img-src="img_preview[locale].url"
                                            :title="img_preview[locale].name"
                                            class="mb-3"
                                            img-bottom
                                        >
                                            <b-card-text>
                                                <b-button
                                                    class="btn-icon float-right"
                                                    variant="gradient-danger"
                                                    @click="deleteImage(locale)"
                                                >
                                                    <feather-icon icon="Trash2Icon"/>
                                                </b-button>
                                            </b-card-text>
                                        </b-card>
                                    </div>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>

                        <!-- type -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('banners.form.type.title')"
                                label-for="type"
                            >
                                <b-form-radio-group
                                    id="radio-group-type"
                                    v-model="form.type"
                                    name="type"
                                >
                                    <b-form-radio value="slider">{{
                                            trans.get('banners.form.type.options.slider')
                                        }}
                                    </b-form-radio>
                                    <b-form-radio value="banner">{{
                                            trans.get('banners.form.type.options.banner')
                                        }}
                                    </b-form-radio>
                                </b-form-radio-group>
                                <small class="text-danger">{{ errors.type }}</small>
                            </b-form-group>
                        </div>

                        <!-- position -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('banners.form.position.title')"
                                label-for="position"
                            >
                                <b-form-input
                                    id="position"
                                    v-model="form.position"
                                    :placeholder="trans.get('banners.form.position.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    name="position"
                                />
                                <small v-if="errors['position']" class="text-danger">{{ errors['position'] }}</small>
                            </b-form-group>
                        </div>
                    </div>


                    <inertia-link
                        :href="route('banners.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.create') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BFormCheckbox,
    BFormFile,
    BTabs,
    BTab,
    BCardText,
    BCard,
    BFormRadioGroup,
    BFormRadio,
} from 'bootstrap-vue'

export default {
    props: ['errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BFormRadioGroup,
        BFormRadio,
    },
    data() {
        return {
            form: {
                name: {},
                url: {},
                image: {},
                type: 'slider',
                position: 1,
            },
            img_preview: {}
        }
    },
    computed: {},
    methods: {
        submit() {
            this.$inertia.post(this.route('banners.store'), this.form)
        },
        imgPreview(locale, e) {
            var file = e.target.files[0]
            // this.img_preview[locale] = {name: file.name, url: URL.createObjectURL(file)}
            this.$set(this.img_preview, locale, {name: file.name, url: URL.createObjectURL(file)})
            // this.form.image[locale] = file
            this.$set(this.form.image, locale, file)
            const reader = new FileReader()
        },
        deleteImage(locale) {
            this.$confirm(this.trans.get('general.text.delete_confirm'), null, null, {
                confirmButtonText: this.trans.get('general.text.yes'),
                cancelButtonText: this.trans.get('general.text.no'),
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn m-1 btn-sm base-button btn-primary',
                    cancelButton: 'btn m-1 btn-sm base-button btn-danger'
                }
            }).then(async () => {
                try {
                    this.$set(this.img_preview, locale, {})
                    this.$set(this.form.image, locale, null)
                } catch (e) {
                    console.log('Ошибка при удалении', e)
                } finally {
                    // this.isBusy = false
                }
            }).catch()
        },

    },
    mounted() {
        // const locales = JSON.stringify(this.$page.props.locales)
        const locales = this.$page.props.locales.reduce(function (o, val) {
            o[val] = null;
            return o;
        }, {})
        this.form.name = Object.assign({}, locales)
        this.form.url = Object.assign({}, locales)
        this.form.image = Object.assign({}, locales)
    }
}
</script>
<style lang="css">
</style>
