<template>
    <layout>
        <div class="card mb-0">
            <div class="card-body">
                <h2 class="brand-text text-primary ml-1">
                    AdminPanel
                </h2>
                <form class="auth-login-form mt-2">
                    <!-- email -->
                    <div class="mb-1">
                        <b-form-group
                            label="Email"
                            label-for="email"
                        >
                            <b-form-input
                                id="email"
                                v-model="form.email"
                                :placeholder="trans.get('login.form.email.placeholder')"
                                :state="errors.length > 0 ? false:null"
                                autofocus
                                name="login-email"
                            />
                            <small class="text-danger">{{ errors.email }}</small>
                        </b-form-group>
                    </div>

                    <div class="mb-1">
                        <!-- password -->
                        <b-form-group>
                            <div class="d-flex justify-content-between">
                                <label for="password">{{ trans.get('login.form.password.label') }}</label>
                                <inertia-link :href="route('password.reset')">
                                    <small>{{ trans.get('login.text.password_recovery') }}</small>
                                </inertia-link>
                            </div>
                            <b-input-group
                                :class="errors.length > 0 ? 'is-invalid':null"
                                class="input-group-merge"
                            >
                                <b-form-input
                                    id="password"
                                    v-model="form.password"
                                    :placeholder="trans.get('login.form.password.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    :type="passwordFieldType"
                                    class="form-control-merge"
                                    name="login-password"
                                />

                                <b-input-group-append class="my-pass" is-text>
                                    <feather-icon
                                        :icon="passwordToggleIcon"
                                        class="cursor-pointer"
                                        @click="togglePasswordVisibility"
                                    />
                                </b-input-group-append>
                            </b-input-group>
                            <small class="text-danger">{{ errors.password }}</small>
                        </b-form-group>
                    </div>

                    <div class="mb-1">
                        <div class="form-check">
                            <input id="remember-me" v-model="form.remember" class="form-check-input" tabindex="3"
                                   type="checkbox">
                            <label class="form-check-label" for="remember-me">
                                {{ trans.get('login.text.remember') }} </label>
                        </div>
                    </div>

                    <!-- submit button -->
                    <b-button
                        block
                        class="w-100 waves-effect waves-float waves-light"
                        type="submit"
                        variant="primary"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('login.text.login') }}
                    </b-button>
                </form>

            </div>
        </div>
    </layout>
</template>

<script>
import LayoutAuth from '@/js/layouts/Auth'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup, BInputGroupAppend, BFormCheckbox,
} from 'bootstrap-vue'

export default {
    props: ['errors'],
    components: {
        'layout': LayoutAuth,
        // BSV
        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BInputGroupAppend,
        BFormCheckbox,
    },
    data() {
        return {
            form: {
                email: '',
                password: '',
                remember: false,
            },
            passwordFieldType: 'password',
        }
    },
    computed: {
        passwordToggleIcon() {
            return this.passwordFieldType === 'password' ? 'EyeIcon' : 'EyeOffIcon'
        },
    },
    methods: {
        togglePasswordVisibility() {
            this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password'
        },
        submit() {
            this.$inertia.post(this.route('login.store'), this.form)
        },
    },
    mounted() {
        document.body.classList.add('blank-page');
    },
    destroyed() {
        document.body.classList.remove('blank-page');
    }
}
</script>
<style lang="css">
@import '@/assets/app/css/pages/page-auth.min.css';
</style>
