<template>
    <layout>
        <div class="card mb-0">
            <div class="card-body">
                <h2 class="brand-text text-primary ml-1">
                    AdminPanel
                </h2>
                <b-card-text class="mb-2">
                    {{ trans.get('reset_password.text.title') }}
                </b-card-text>

                <form class="auth-login-form mt-2">
                    <!-- email -->
                    <div class="mb-1">
                        <b-form-group
                            label="Email"
                            label-for="email"
                        >
                            <b-form-input
                                id="email"
                                v-model="form.email"
                                :placeholder="trans.get('login.form.email.placeholder')"
                                :state="errors.length > 0 ? false:null"
                                autofocus
                                name="login-email"
                            />
                            <small class="text-danger">{{ errors.email }}</small>
                        </b-form-group>
                    </div>

                    <!-- submit button -->
                    <b-button
                        block
                        class="w-100 waves-effect waves-float waves-light"
                        type="submit"
                        variant="primary"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('reset_password.text.reset') }}
                    </b-button>
                </form>

                <b-card-text class="text-center mt-2">
                    <inertia-link
                        :href="route('login')">
                        <feather-icon icon="ChevronLeftIcon"/>
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                </b-card-text>

            </div>
        </div>
    </layout>
</template>

<script>
import LayoutAuth from '@/js/layouts/Auth'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup, BInputGroupAppend, BFormCheckbox, BCardText
} from 'bootstrap-vue'

export default {
    props: ['errors'],
    components: {
        'layout': LayoutAuth,
        // BSV
        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BInputGroupAppend,
        BFormCheckbox,
        BCardText,
    },
    data() {
        return {
            form: {
                email: '',
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('password.update'), this.form)
        },
    },
    mounted() {
        document.body.classList.add('blank-page');
    },
    destroyed() {
        document.body.classList.remove('blank-page');
    }
}
</script>
<style lang="css">
@import '@/assets/app/css/pages/page-auth.min.css';
</style>
