<template>
  <div>
    <div class="row article-list">
      <div class="col-lg-4 col-sm-6 article-list__item" v-for="article in articles">
        <CardArticle :dataArticle="article"/>
      </div>
    </div>
    <button v-if="currentPage < (totalRows / perPage)" class="btn btn--show-more">
      <svg class="icon-svg btn--show-more__icon"><use xlink:href="~assets/img/sprite.svg#load-more"></use></svg>
      {{ $t('view_more') }}
    </button>
    <b-pagination
      v-model="currentPage"
      align="center"
      :total-rows="rows"
      :per-page="perPage"
      :ellipsis-class="[pageClass, pageClassEllipsis]"
      :page-class="pageClass"
      :next-class="[pageClass, pageClassArrow]"
      :prev-class="[pageClass, pageClassArrow]"
      first-class="d-none"
      last-class="d-none"
    >
      <template #next-text>
        <svg width="8" height="15" class="icon-svg" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.18758 1.25L7.41675 7.47917L1.18758 13.7083" stroke="currentColor" stroke-width="0.958333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </template>
      <template #prev-text>
        <svg width="8" height="15" class="icon-svg" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.43742 1.25L1.20825 7.47917L7.43742 13.7083" stroke="currentColor" stroke-width="0.958333" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </template>
    </b-pagination>
  </div>
</template>

<script>
import {BBreadcrumb, BPagination} from 'bootstrap-vue'
import CardArticle from './CardArticle'

export default {
  components: {
    CardArticle,
    BBreadcrumb,
    BPagination,
  },
  async fetch({error}) {
    try {
      const resourceArticles = await this.$axios.$get('articles', {
        params: {
          locale: this.$i18n.locale,
        }
      })
      this.articles = resourceArticles.data
      this.rows = resourceArticles.meta.total
      this.perPage = resourceArticles.meta.per_page
      this.currentPage = resourceArticles.meta.current_page
    } catch (e) {
      console.info('articles')
      error(e)
    }
  },
  data() {
    return {
      articles: [],
      rows: 100,
      perPage: 16,
      currentPage: 2,
      pageClass: 'pagination__item',
      pageClassArrow: 'pagination__item--arrow',
      pageClassEllipsis: 'pagination__item--ellipsis',
    }
  },
  methods: {
    async getArticles(additionalLoad = false) {
      if (additionalLoad) this.currentPage++

      const resourceArticles = await this.$axios.$get('articles', {
        params: {
          locale: this.$i18n.locale,
        }
      })
      if (additionalLoad) {
        this.articles.push(...resourceProducts.data)
      } else {
        this.articles = resourceArticles.data
      }

      this.$router.push({query: {...this.$route.query, page: this.currentPage}})
    },
  },
}
</script>
