<template>
  <ul class="blog-category">
    <li class="blog-category__item">
      <nuxt-link
        class="blog-category__link"
        :to="localePath({ name: 'blogs'})"
      >
        {{ $t('all_articles') }}
      </nuxt-link>
    </li>
    <li
      v-for="category in categories"
      :key="category.id"
      class="blog-category__item"
    >
      <nuxt-link
        :key="category.id"
        class="blog-category__link"
        :to="localePath({ name: 'blogs-category', params: { category: category.slug }})"
      >
        {{ category.name }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  async fetch() {
    try {
      const resourceCategories = await this.$axios.$get('articles-category', {
        params: {
          locale: this.$i18n.locale,
          sort: 'position',
        }
      })
      this.categories = resourceCategories.data
    } catch (e) {
      console.info('articles-category')
      error(e)
    }
  },
  data() {
    return {
      categories: []
    }
  },
}
</script>
