<template>
  <div class="card-article">
    <img :alt="dataArticle.name" :src="dataArticle.image" class="card-article__preview">
    <div class="card-article__info">
        <div class="card-article__date">{{ dataArticle.date }}</div>
        <h3 class="card-article__name">
          <nuxt-link
            class="card-article__link title-line-cap stretched-link"
            :to="localePath({ name: 'article-slug', params: { slug: dataArticle.slug }})"
          >
            {{ dataArticle.name }}
          </nuxt-link>
        </h3>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    dataArticle: Object,
  },
}
</script>
