<template>
  <div>
    <div class="container">
      <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    </div>
    <div class="product">
      <div class="product__head">
        <div class="container">
          <h1 class="product__name title title--main">{{ product.name }}</h1>
          <div class="product__head-bottom">
            <div class="product__total-rating">
              <span class="product__total-rating-i active"><svg class="icon-svg" height="11" width="11"><use
                xlink:href="~assets/img/sprite.svg#star"></use></svg></span>
              <span class="product__total-rating-i active"><svg class="icon-svg" height="11" width="11"><use
                xlink:href="~assets/img/sprite.svg#star"></use></svg></span>
              <span class="product__total-rating-i active"><svg class="icon-svg" height="11" width="11"><use
                xlink:href="~assets/img/sprite.svg#star"></use></svg></span>
              <span class="product__total-rating-i active"><svg class="icon-svg" height="11" width="11"><use
                xlink:href="~assets/img/sprite.svg#star"></use></svg></span>
              <span class="product__total-rating-i"><svg class="icon-svg" height="11" width="11"><use
                xlink:href="~assets/img/sprite.svg#star"></use></svg></span>
              <div class="product__total-rating-label">(?? {{ $t('reviews') }})</div>
            </div>
            <span class="product__code">{{ $t('vendor_code') }}: {{ product.serial_number }}</span>
          </div>
        </div>
      </div>
      <div class="product__nav">
        <div class="container">
          <scrollactive :duration="800" :modifyUrl="false" :offset="120" class="product__menu" tag="ul">
            <li class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#anchor1">Все о товаре</a>
            </li>
            <li v-if="product.relationships.options.meta.count > 0" class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#product-options">{{ $t('options') }}</a>
            </li>
            <li class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#anchor3">Упаковка</a>
            </li>
            <li v-if="product.relationships.analogs.meta.count > 0" class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#product-analogs">{{ $t('analogs') }}</a>
            </li>
            <li v-if="product.relationships.related.meta.count > 0" class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#product-related">{{ $t('related') }}</a>
            </li>
            <li class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#anchor6">Описание</a>
            </li>
            <li class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#anchor7">Видео</a>
            </li>
            <li class="product__menu-item">
              <a class="product__menu-link scrollactive-item" href="#">Отзывы</a>
            </li>
          </scrollactive>
        </div>
      </div>
      <div id="anchor1" class="product__about">
        <div class="container">
          <div class="row">
            <div class="col-xl-6 product__about-left">

              <CoolLightBox
                :index="indexImage"
                :items="images"
                @close="indexImage = null">
              </CoolLightBox>
              <div class="product__gallery __gallery">
                <div class="product__gallery-label">
                  <!--                  <img src="~assets/img/label.svg" alt="">-->
                  <!--                  <img src="~assets/img/label-2.svg" alt="">-->
                  <!--                  <img src="~assets/img/label-3.svg" alt="">-->
                  <!--                  <img src="~assets/img/label-4.svg" alt="">-->
                </div>
                <transition mode="out-in" name="image">
                  <img :key="currentImage" :src="currentImage" alt=""
                       class="product__gallery-main-img __gallery-main-img" @click="indexImage = activeImage">
                </transition>
              </div>
              <div class="product__gallery-thumbs __gallery-thumbs">

                <VueSlickCarousel
                  v-if="images.length > 1"
                  class="product__gallery-thumbs __gallery-thumbs"
                  v-bind="settingsThumb"
                >
                  <template #prevArrow="arrowOption">
                    <button class="slick-prev">
                      <svg class="icon-svg" height="24" width="24">
                        <use xlink:href="~assets/img/sprite.svg#carousel-left"></use>
                      </svg>
                    </button>
                  </template>
                  <template #nextArrow="arrowOption">
                    <button class="slick-next">
                      <svg class="icon-svg" height="24" width="24">
                        <use xlink:href="~assets/img/sprite.svg#carousel-right"></use>
                      </svg>
                    </button>
                  </template>

                  <div v-for="(image, imageIndex) in  images" class="__gallery-thumbs-i">
                    <div :class="{'active' : !isActiveImage}" class="product__gallery-thumb __gallery-thumb">
                      <img :src="image.thumb" alt="" @click="activateImage(imageIndex)">
                    </div>
                  </div>

                </VueSlickCarousel>
              </div>
            </div>
            <div class="col-xl-6 product__about-right">
              <div class="product__about-box">
                  <span class="product__availability in-stock">
                <svg class="icon-svg product__availability-icon" height="18" width="18"><use
                  xlink:href="~assets/img/sprite.svg#circle-check"></use></svg>
                {{ $t('in_stock') }} ({{ product.leftover.total_remainder }} шт)
                </span>
                <button v-if="product.vacation" v-b-tooltip.hover.html
                        class="goods-box-tooltip btn-reset product__box-tooltip"
                        title="<div class='tooltip-inner__title'>Этот товар отпускается кратно упаковке</div>Цена за 1 шт.: 125 грн."
                >{{ $t('multiple_packaging') }}
                  <svg class="icon-svg" height="16" width="16">
                    <use xlink:href="~assets/img/sprite.svg#box"></use>
                  </svg>
                </button>
              </div>
              <div class="product__about-box">
                <div class="product__box-price">
                  <div class="product__price">??0 ₴</div>
                  <div class="product__price-old">??0 ₴</div>
                </div>
                <div class="product__box-cart">
                  <button
                    v-if="count === 0"
                    class="btn btn--blue btn--add-to-card"
                    @click="count = 1"
                  >
                    <svg class="icon-svg" height="18" width="19">
                      <use xlink:href="~assets/img/sprite.svg#add-to-cart"></use>
                    </svg>
                    <span>В корзину</span>
                  </button>
                  <Qty v-if="count > 0"
                       v-model="count"
                       class="justify-content-start"
                  />
                </div>
              </div>
              <div class="product__about-box product__info">
                <div class="product__info-item">
                  <img alt="" class="product__info-item-icon" src="~assets/img/icons/house.svg">
                  <div>
                    Продаем только тот товар, которые <span>есть на наших складах</span>
                  </div>
                </div>
                <div class="product__info-item">
                  <img alt="" class="product__info-item-icon" src="~assets/img/icons/order.svg">
                  <div>
                    Обработка заказов <span>до 16:30</span>
                  </div>
                </div>
                <div class="product__info-item">
                  <img alt="" class="product__info-item-icon" src="~assets/img/icons/guarantee.svg">
                  <div>Гарантия возврата товара <span>14 дней</span></div>
                </div>
              </div>
              <div class="product__about-box manager-box">
                <div class="manager-box__item manager-box__item--profile">
                  <img alt="" class="manager-box__img"
                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTquDNzAAWAiVdLh3tW8z9mulOiFe5OyXstgJvsE6A-T_QG1mQ9e04_LbaHucXg5U8vcGc&usqp=CAU">
                  <div>
                    <div class="title title--small">Инна Бондаренко</div>
                    <span class="manager-box__contact link link--small">innabondar11@gmail.com</span>
                  </div>
                </div>
                <div class="manager-box__item">
                  <div class="title title--small">Категорийный менеджер</div>
                  <span class="manager-box__status">“Я - Ваш личный менеджер! Рады ответить!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section v-if="product.relationships.options.meta.count > 0" id="product-options" class="section-goods">
        <div class="container">
          <div class="section-goods__head">
            <span class="bg-text bg-text--option">{{ $t('available') }}</span>
            <h2 class="title title--main section-goods__title">{{ $t('available_options') }} <span class="goods-count">({{
                product.relationships.options.meta.count
              }})</span></h2>
            <a class="link section-goods__link" href="">{{ $t('all_options') }}</a>
            <GoodsCarouselBtn v-if="!isTablet"
                              name-carousel="slider-product-options"
                              slider-items-count="10"
            />
          </div>
          <GoodsCarousel name-carousel="slider-product-options">
            <div v-for="item in product.relationships.options.data"
                 :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
              <CardGoods :dataProduct="item" :is-option-product="true"/>
            </div>
          </GoodsCarousel>
        </div>
      </section>
      <section id="anchor3" class="product__box">
        <div class="container">
          <h3 class="title title--main">Упаковка</h3>
          <div class="table-responsive">
            <table>
              <thead>
              <tr>
                <td>Осн.</td>
                <td>Ед. изм</td>
                <td>К-во</td>
                <td>(кг)</td>
                <td>(м3)</td>
                <td>Мин. крат</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <svg class="icon-svg" height="14" width="14">
                    <use xlink:href="~assets/img/sprite.svg#tick"></use>
                  </svg>
                </td>
                <td>Кг</td>
                <td>12</td>
                <td>100</td>
                <td>100</td>
                <td>
                  <svg class="icon-svg" height="14" width="14">
                    <use xlink:href="~assets/img/sprite.svg#tick"></use>
                  </svg>
                </td>
              </tr>
              <tr>
                <td>
                  <svg class="icon-svg" height="14" width="14">
                    <use xlink:href="~assets/img/sprite.svg#tick"></use>
                  </svg>
                </td>
                <td>Кг</td>
                <td>12</td>
                <td>100</td>
                <td>100</td>
                <td>
                  <svg class="icon-svg" height="14" width="14">
                    <use xlink:href="~assets/img/sprite.svg#tick"></use>
                  </svg>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section v-if="product.relationships.analogs.meta.count > 0" id="product-analogs" class="section-goods">
        <div class="container">
          <div class="section-goods__head">
            <span class="bg-text bg-text--goods">{{ $t('analogs') }}</span>
            <h2 class="title title--main section-goods__title">{{ $t('analog_products') }}</h2>
            <a class="link section-goods__link" href="">{{ $t('view_all_products') }}</a>
            <GoodsCarouselBtn v-if="!isTablet"
                              name-carousel="slider-product-analogs"
                              sliderItemsCount="10"
            />
          </div>
          <GoodsCarousel name-carousel="slider-product-analogs">
            <div v-for="item in product.relationships.analogs.data"
                 :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
              <CardGoods :dataProduct="item" :is-option-product="true"/>
            </div>
          </GoodsCarousel>
        </div>
      </section>
      <section v-if="product.relationships.related.meta.count > 0" id="product-related" class="section-goods">
        <div class="container">
          <div class="section-goods__head">
            <span class="bg-text bg-text--goods">{{ $t('related') }}</span>
            <h2 class="title title--main section-goods__title">{{ $t('related_products') }}</h2>
            <a class="link section-goods__link" href="">{{ $t('view_all_products') }}</a>
            <GoodsCarouselBtn v-if="!isTablet"
                              name-carousel="slider-product-related"
                              sliderItemsCount="10"
            />
          </div>
          <GoodsCarousel name-carousel="slider-product-related">
            <div v-for="item in product.relationships.related.data"
                 :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
              <CardGoods :dataProduct="item" :is-option-product="true"/>
            </div>
          </GoodsCarousel>
        </div>
      </section>
      <section id="anchor6" class="product__description">
        <div class="container">
          <div class="title title--main">Описание товара</div>
          <div class="dynamic-content product__description-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur.
            </p>
          </div>
        </div>
      </section>
      <section class="product__properties">
        <div class="container">
          <div class="title title--secondary">Характеристики</div>
          <div class="product__properties-inner">
            <div class="product__properties-left">
              <div class="product__properties-i properties">
                <div class="properties__name">Тип</div>
                <div class="properties__value">Традиционная кастрюля</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Количество предметов, шт</div>
                <div class="properties__value">1</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Материал</div>
                <div class="properties__value">Нержавеющая сталь</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Материал ручек</div>
                <div class="properties__value">Бакелит</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Тип крепления ручек</div>
                <div class="properties__value">На заклепках</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Толщина дна</div>
                <div class="properties__value">5 мм</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Рекомендации по уходу</div>
                <div class="properties__value">Не подходит для духовки</div>
              </div>
            </div>
            <div class="product__properties-right">
              <div class="product__properties-i properties">
                <div class="properties__name">Тип</div>
                <div class="properties__value">Традиционная кастрюля</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Количество предметов, шт</div>
                <div class="properties__value">1</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Материал</div>
                <div class="properties__value">Нержавеющая сталь</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Материал ручек</div>
                <div class="properties__value">Бакелит</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Тип крепления ручек</div>
                <div class="properties__value">На заклепках</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Толщина дна</div>
                <div class="properties__value">5 мм</div>
              </div>
              <div class="product__properties-i properties">
                <div class="properties__name">Рекомендации по уходу</div>
                <div class="properties__value">Не подходит для духовки</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="anchor7" class="product__video">
        <div class="container">
          <h3 class="title title--main product__video-title">Видеообзор
            <span>(Кастрюля Rondell Kortado 2.8 л (RDS-1109)</span></h3>
          <div class="product__video-source">
            <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen frameborder="0" src="https://www.youtube.com/embed/zHQhQVFgKU4"
                    title="YouTube video player"></iframe>
          </div>
        </div>
      </section>
      <section v-if="viewedProducts.length > 0" class="product__section-goods">
        <div class="container">
          <div class="section-goods__head">
            <span class="bg-text bg-text--viewed">{{ $t('viewed') }}</span>
            <h2 class="title title--main section-goods__title">{{ $t('you_recently_viewed') }}</h2>
            <a class="link section-goods__link" href="">{{ $t('view_all_products') }}</a>
            <GoodsCarouselBtn v-if="!isTablet"
                              name-carousel="slider-viewed-products"
                              sliderItemsCount="2"
            />
          </div>
          <GoodsCarousel name-carousel="slider-viewed-products">
            <div v-for="product in viewedProducts"
                 :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
              <CardGoods :dataProduct="product"/>
            </div>
          </GoodsCarousel>
        </div>
      </section>
      <div class="product__footer">
        <div class="container product__footer-inner">
          <div class="title title--secondary title-line-cap product__footer-title">{{ product.name }}</div>

          <div class="product__price">?? 0 ₴</div>
          <button
            v-if="count === 0"
            class="btn btn--blue btn--add-to-card"
            @click="count = 1"
          >
            <svg class="icon-svg" height="18" width="19">
              <use xlink:href="~assets/img/sprite.svg#add-to-cart"></use>
            </svg>
            <span>В корзину</span>
          </button>
          <Qty v-if="count > 0"
               v-model="count"
               class="justify-content-start"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GoodsCarousel from '../components/GoodsCarousel'
import GoodsCarouselBtn from '../components/GoodsCarouselBtn'
import CardGoods from '../components/CardGoods'
import {BBreadcrumb} from 'bootstrap-vue'
import Qty from '../components/Qty'
import CoolLightBox from 'vue-cool-lightbox'

export default {
  name: 'product',
  head() {
    return {
      title: this.product.name,
      meta: [
        // {
        // name: 'keywords',
        // content: this.seoPageHome.keywords,
        // },
        // {
        // name: 'description',
        // content: this.seoPageHome.description,
        // }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'product-page'
      }
    }
  },
  components: {
    CardGoods,
    GoodsCarousel,
    Qty,
    CoolLightBox,
    BBreadcrumb,
    GoodsCarouselBtn
  },
  async asyncData({params, $axios, i18n, store}) {
    let branchId = await store.state.branches.branchId
    try {
      const resourceProduct = await $axios.$get('product', {
        params: {
          locale: i18n.locale,
          filters: {
            slug: params.product_slug,
            branch: branchId,
          },
          relationships: {
            options: true,
            analogs: true,
            related: true,
          },
        }
      })
        .catch(({response}) => {
          console.log('fail-one-product');
          console.log(response)
        })

      const product = resourceProduct.data
      const images = [{
        id: 1,
        thumb: product.image.url_thumb ? product.image.url_thumb : require(`~/assets/img/default-goods.svg`),
        big: product.image.url_original ? product.image.url_original : require(`~/assets/img/default-goods.svg`),
        src: product.image.url_original ? product.image.url_original : require(`~/assets/img/default-goods.svg`),
      }]

      return {product, images}
    } catch (e) {
      error(e)
    }

  },
  data() {
    return {
      isTablet: false,
      count: 0,
      breadcrumb: [
        {
          text: this.$t('home'),
          href: this.localePath('/')
        },
        {
          text: '',
          active: true
        },
      ],
      images: [
        {
          id: 1,
          thumb: '',
          big: '',
          src: '',
        },
      ],
      activeImage: 0,
      indexImage: null,
      isActiveImage: false,

      settingsThumb: {
        slidesToShow: 5,
        slidesToScroll: 1,
        speed: 800,
        dots: false,
        arrows: true,
        infinite: false,
        touchMove: false,
        responsive: [
          {
            breakpoint: 600,
            settings: "unslick"
          }
        ]
      }
    }
  },
  computed: {
    currentImage() {
      return this.images[this.activeImage].big;
    },
    viewedProducts() {
      return this.$store.getters['viewedProducts/getProducts']
    },
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
    activateImage(imageIndex) {
      this.isActiveImage = true
      this.activeImage = imageIndex;
    },
  },
  create() {
    this.$store.commit('main/setMainClass', '')
  },
  beforeMount() {
    if (process.client) {
      this.$store.dispatch('viewedProducts/AddProduct', this.product.id)
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  },
}
</script>

