<template>
  <div>
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    <h1 class="title title--main title--page text-center">{{ page.name }}</h1>
    <section class="section-about">
      <div class="section-about__inner">
        <div class="dynamic-content dynamic-content--page" v-html="page.content"></div>
        <div v-if="page.imagesGallery.length > 0" class="row about-images">
          <div v-for="image in page.imagesGallery" class="col-md-6 col-sm-6 about-images__item">
            <img :src="image.url_original" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import {BBreadcrumb} from 'bootstrap-vue'
export default {
  name: 'page_about',
  components: {
    BBreadcrumb,
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
        name: 'keywords',
        content: this.page.keywords,
        },
        {
        name: 'description',
        content: this.page.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'home'
      }
    }
  },
  async asyncData({$axios, i18n, app}) {
    try {
      const resourcePage = await $axios.$get('page', {
        params: {
          locale: i18n.locale,
          filters: {
            type: 'about',
          },
        }
      })
      // ##bloc-statistics##
      const page = resourcePage.data

      return {
        page,
        breadcrumb: [
          {
            text: i18n.t('home'),
            href: app.localePath('/')
          },
          {
            text: page.name,
            active: true
          },
        ],
      }
    } catch (e) {
      error(e)
    }
  },
  data() {
    return {
      page: null,
      breadcrumb: [],
    }
  },
  create() {
    this.$store.commit('main/setMainClass', 'container')
  },
}
</script>
