<template>
  <div>
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    <div class="title title--main">{{ $t('catalog') }}</div>
    <div class="catalog">
      <div :class="{'open-side': openFilter}" class="catalog__sidebar">
        <button class="btn-reset filter__close-btn" @click="openFilter = !openFilter">
          <svg class="icon-svg" height="18" width="19">
            <use xlink:href="~assets/img/sprite.svg#close"></use>
          </svg>
        </button>
        <FilterGoods :open-filter="openFilter"/>
      </div>
      <div class="catalog__content">
        <div class="catalog__head">
          <button class="btn btn--blue catalog__filter-btn" @click="openFilter = !openFilter">
            <svg class="icon-svg isFiltered" height="24" width="24">
              <use xlink:href="~assets/img/sprite.svg#icon-filter"></use>
            </svg>
            {{ $t('filters') }}
          </button>
          <div class="catalog__head-sort">
            <span>{{ $t('sort_by') }}</span>
            <b-form-select v-model="search.sort" :options="sortOptions" class="custom-select catalog__head-select"
                           @change="getProducts(false)"></b-form-select>
          </div>
        </div>
        <div class="row goods-grid goods-grid--catalog">
          <div v-for="product in products" class="col-xl-3 col-md-4 col-6 goods-grid__item">
            <CardGoods :dataProduct="product"/>
          </div>
        </div>
        <button v-if="currentPage < (totalRows / perPage)" class="btn btn--show-more btn--top-indent"
                @click="getProducts(true)">
          <svg class="icon-svg btn--show-more__icon">
            <use xlink:href="~assets/img/sprite.svg#load-more"></use>
          </svg>
          {{ $t('view_more') }}
        </button>
        <b-pagination
          v-model="currentPage"
          :ellipsis-class="[pageClass, pageClassEllipsis]"
          :next-class="[pageClass, pageClassArrow]"
          :page-class="pageClass"
          :per-page="perPage"
          :prev-class="[pageClass, pageClassArrow]"
          :total-rows="totalRows"
          align="center"
          first-class="d-none"
          last-class="d-none"
          @change="getProducts(false)"
        >
          <template #next-text>
            <svg class="icon-svg" fill="none" height="15" viewBox="0 0 8 15" width="8"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M1.18758 1.25L7.41675 7.47917L1.18758 13.7083" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="0.958333"/>
            </svg>
          </template>
          <template #prev-text>
            <svg class="icon-svg" fill="none" height="15" viewBox="0 0 8 15" width="8"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M7.43742 1.25L1.20825 7.47917L7.43742 13.7083" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="0.958333"/>
            </svg>
          </template>
        </b-pagination>
      </div>
    </div>
    <section v-if="viewedProducts.length > 0" class="section-goods">
      <div class="section-goods__head">
        <span class="bg-text bg-text--viewed">{{ $t('viewed') }}</span>
        <h2 class="title title--main section-goods__title">{{ $t('you_recently_viewed') }}</h2>
        <a class="link section-goods__link" href="">{{ $t('view_all_products') }}</a>
        <GoodsCarouselBtn
          v-if="!isTablet"
          name-carousel="catalog-slider-viewed-products"
          slider-items-count="5"
        />
      </div>
      <GoodsCarousel name-carousel="catalog-slider-viewed-products">
        <div v-for="product in viewedProducts"
             :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
          <CardGoods :dataProduct="product"/>
        </div>
      </GoodsCarousel>
    </section>
    <div :class="{'open': openFilter}" class="side-overlay" @click="openFilter = !openFilter"></div>
  </div>
</template>

<script>
import GoodsCarousel from '../components/GoodsCarousel'
import CardGoods from '../components/CardGoods'
import FilterGoods from '../components/FilterGoods'
import GoodsCarouselBtn from '../components/GoodsCarouselBtn'
import {BPagination, BBreadcrumb, BFormSelect} from 'bootstrap-vue'

export default {
  head() {
    return {
      title: this.seoPageCatalog.title,
      meta: [
        {
          name: 'keywords',
          content: this.seoPageCatalog.keywords,
        },
        {
          name: 'description',
          content: this.seoPageCatalog.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: ''
      }
    }
  },
  name: 'catalog',
  watchQuery: [
    'brand',
    'productType',
    'price',
    'page',
    'sort',
    'search',
  ],
  components: {
    CardGoods,
    GoodsCarousel,
    FilterGoods,
    GoodsCarouselBtn,
    BBreadcrumb,
    BPagination,
    BFormSelect,
  },
  async asyncData({$axios, i18n, store, route}) {
    store.commit('main/setMainClass', 'container')

    let pageQuery = 1;
    if (route.query.page) {
      pageQuery = route.query.page
    }

    let sortQuery = 'date';
    if (route.query.sort) {
      sortQuery = route.query.sort
    }

    let searchQuery = '';
    if (route.query.search) {
      searchQuery = route.query.search
    }

    let priceQuery = '';
    if (route.query.price) {
      priceQuery = route.query.price
    }

    let brandsQuery = [];
    if (route.query.brand) {
      if (typeof route.query.brand == "object") {
        brandsQuery = route.query.brand
      } else {
        brandsQuery.push(route.query.brand)
      }
      const resourceBrands = await $axios.$get('brands', {
        params: {
          locale: i18n.locale,
          sort: 'name'
        }
      })
      let brandsList = resourceBrands.data

      let brands = []
      brandsQuery.map(function (queryBrand) {
        let brandFind = brandsList.find(brand => brand.id == queryBrand)
        if (brandFind) brands.push({id: brandFind.id, text: brandFind.name})
      });
    }


    let productsTypeQuery = []
    if (route.query.productType) {
      if (typeof route.query.productType == "object") {
        productsTypeQuery = route.query.productType
      } else {
        productsTypeQuery.push(route.query.productType)
      }
      let productsType = []
      productsTypeQuery.map(function (queryProductType) {
        let productTypeFind = productsTypeQuery.find(productType => productType.id == queryProductType)
        if (productTypeFind) productsType.push({id: productTypeFind.id, text: productTypeFind.name})
      }, this);
    }

    let branchId = await store.state.branches.branchId
    let rangePrice = priceQuery
    let brands = brandsQuery
    let productsType = productsTypeQuery

    const resourceProducts = await $axios.$get('products/', {
      params: {
        locale: i18n.locale,
        page: pageQuery,
        filters: {
          price: rangePrice,
          brands: brands,
          types: productsType,
          branch: branchId,
        },
        sort: sortQuery,
        search: searchQuery
      }
    })
    const products = resourceProducts.data
    const totalRows = resourceProducts.meta.total
    const perPage = resourceProducts.meta.per_page
    const currentPage = resourceProducts.meta.current_page

    const resourceSeoPageCatalog = await $axios.$get('seo-page/catalog', {
      params: {
        locale: i18n.locale,
      }
    })
    const seoPageCatalog = resourceSeoPageCatalog.data

    return {
      products, totalRows, perPage, currentPage,
      search: {
        filter: {
          brands: brands,
          productsType: productsType,
          price: rangePrice,
        },
        sort: sortQuery,
        search: searchQuery,
      },
      seoPageCatalog
    }
  },
  data() {
    return {
      sortOptions: [
        {value: 'price', text: 'по цене'},
        {value: 'name', text: 'по наименованию'},
        {value: 'date', text: 'по дате прихода'},
      ],
      products: [],
      totalRows: 0,
      openFilter: false,
      isTablet: false,
      rows: 0,
      perPage: 0,
      currentPage: 0,
      pageClass: 'pagination__item',
      pageClassArrow: 'pagination__item--arrow',
      pageClassEllipsis: 'pagination__item--ellipsis',
      search: {
        filter: {
          brands: null,
          productsType: null,
          price: null,
        },
        sort: 'date',
        search: '',
      },
      breadcrumb: [
        {
          text: this.$t('home'),
          href: this.localePath('/')
        },
        {
          text: this.$t('catalog'),
          active: true
        },
      ]
    }
  },
  computed: {
    filter() {
      return this.$store.getters['filters/getVersion']
    },
    viewedProducts() {
      return this.$store.getters['viewedProducts/getProducts']
    },
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
    async getProducts(additionalLoad = false) {
      if (additionalLoad) this.currentPage++

      let branchId = await this.$store.getters['branches/getBranchId'];
      const resourceProducts = await this.$axios.$get('products/', {
        params: {
          locale: this.$i18n.locale,
          page: this.currentPage,
          filters: {
            price: this.search.filter.rangePrice,
            brands: this.search.filter.brands,
            types: this.search.filter.productsType,
            branch: branchId,
          },
          sort: this.search.sort,
          search: this.search.search,
        }
      })
      if (additionalLoad) {
        this.products.push(...resourceProducts.data)
      } else {
        this.products = resourceProducts.data
      }

      this.$router.push({query: {...this.$route.query, page: this.currentPage, sort: this.search.sort}})
    },
  },
  create() {
    this.$store.commit('main/setMainClass', 'container')
  },
  beforeMount() {

    this.search.filter.price = this.$store.state.filters.price
    this.search.filter.brands = this.$store.getters['filters/getBrandsId']
    this.search.filter.productsType = this.$store.state.filters.productsType

    if (process.client) {

      if (this.$store.state.viewedProducts.products.length == 0) {
        this.$store.dispatch('viewedProducts/fillingProducts')
      }

      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  watch: {
    filter(value) {
      this.search.filter.brands = this.$store.getters['filters/getBrandsId']
      this.search.filter.productsType = this.$store.getters['filters/getProductsType']
      this.search.filter.price = this.$store.getters['filters/getPrice']
      this.getProducts()
    },
  }
}
</script>
