<template>
<div>
  <div class="container">
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    <h1 class="title title--main title--page text-center">{{ page.name }}</h1>
    <section class="section-contact">
      <div class="row contact-list">
        <div class="col-lg-3 col-6 contact-list__item">
          <div class="contact-box box-default">
            <div class="contact-box__icon"><svg class="icon-svg" width="24" height="26"><use xlink:href="~assets/img/sprite.svg#phone"></use></svg></div>
            <div class="contact-box__name">{{ $t('phones') }}</div>
            <div class="contact-box__bottom">
              <a v-for="(phone, index) in page.phones" :key="index" :href="'tel:'+phone.replace(/[^0-9]/g, '')" class="contact-box__link">{{ phone }}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 contact-list__item">
          <div class="contact-box box-default">
            <div class="contact-box__icon"><svg class="icon-svg" width="28" height="26"><use xlink:href="~assets/img/sprite.svg#mail"></use></svg></div>
            <div class="contact-box__name">{{ $t('email') }}</div>
            <div class="contact-box__bottom">
              <a v-for="(email, index) in page.emails" :key="index" :href="'mailto:'+email"
                 class="contact-box__link">{{ email }}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 contact-list__item">
          <div class="contact-box box-default">
            <div class="contact-box__icon"><svg class="icon-svg" width="20" height="26"><use xlink:href="~assets/img/sprite.svg#map-pin"></use></svg></div>
            <div class="contact-box__name">{{ $t('address') }}</div>
            <div class="contact-box__bottom" v-html="page.address"></div>
          </div>
        </div>
        <div class="col-lg-3 col-6 contact-list__item">
          <div class="contact-box box-default">
            <div class="contact-box__icon"><svg class="icon-svg" width="26" height="26"><use xlink:href="~assets/img/sprite.svg#clock"></use></svg></div>
            <div class="contact-box__name">{{ $t('time_work') }}</div>
            <div class="contact-box__bottom">
              <p>{{ page.time_work.time }}</p>
              <p>{{ page.time_work.day }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <ContactMap :zoom="page.map.zoom" :center="page.map.center" :marker="page.map.marker"/>
  <FeedbackBox/>
  <section class="section-contact-form">
    <div class="container">
      <p class="text-center" v-html="$t('contect_text')"></p>
      <form class="contact-form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group contact-form__group">
              <div class="form-label">{{ $t('contact_form_name') }}</div>
              <input v-model="form.name" :placeholder="$t('contact_form_placeholder')"
                     class="form-control contact-form__input" type="text">
              <span v-if="errors.name" class="input-error">{{ errors.name[0] }}</span>
            </div>
            <div class="form-group contact-form__group">
              <div class="form-label">{{ $t('contact_form_phone') }}</div>
              <input v-model="form.phone" v-mask="'38 (###) ###-####'" class="form-control contact-form__input"
                     placeholder="38 (___) __ __ ___">
              <span v-if="errors.phone" class="input-error">{{ errors.phone[0] }}</span>
            </div>
            <div class="form-group contact-form__group">
              <div class="form-label">{{ $t('contact_form_email') }}</div>
              <input v-model="form.email" class="form-control contact-form__input" placeholder="example@gmail.com"
                     type="email">
              <span v-if="errors.email" class="input-error">{{ errors.email[0] }}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="contact-form__text contact-form__group">
              <div class="form-label">{{ $t('contact_form_message') }}</div>
              <textarea v-model="form.message"
                        class="form-control contact-form__input contact-form__input--text"></textarea>
              <span v-if="errors.message" class="input-error">{{ errors.message[0] }}</span>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn--blue contact-form__submit" @click.prevent="send">{{ $t('contact_send') }}</button>
        </div>
      </form>
    </div>
  </section>
</div>
</template>

<script>
import {BBreadcrumb} from 'bootstrap-vue'
import FeedbackBox from "../components/FeedbackBox"
import ContactMap from "../components/ContactMap"

export default {
  name: 'page_contact',
  components: {
    BBreadcrumb,
    FeedbackBox,
    ContactMap
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
        name: 'keywords',
        content: this.page.keywords,
        },
        {
        name: 'description',
        content: this.page.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'home'
      }
    }
  },
  async asyncData({$axios, i18n, app}) {
    try {
      const resourcePage = await $axios.$get('page', {
        params: {
          locale: i18n.locale,
          filters: {
            type: 'contact',
          },
        }
      })
      const page = resourcePage.data
      return {
        page,
        breadcrumb: [
          {
            text: i18n.t('home'),
            href: app.localePath('/')
          },
          {
            text: page.name,
            active: true
          },
        ],
      }
    } catch (e) {
      error(e)
    }
  },
  data() {
    return {
      errors: [],
      form: {
        name: '',
        phone: '',
        email: '',
        message: '',
      },
      page: null,
      breadcrumb: [],
    }
  },
  methods: {
    async send() {
      try {
        // const token = await this.$recaptcha.execute('login')
        // console.log('ReCaptcha token:', token)
        const contact = await $axios.$post('contact/send', {...form, locale: this.$i18n.locale})
          .catch(({response}) => {
            console.log('contact-send');
            console.log(response)
          })

      } catch (error) {
        console.log('Login error:', error)
        error(e)
      }

    },
  },
  create() {
    this.$store.commit('main/setMainClass', 'container')
  },
  async mounted() {
    try {
      // await this.$recaptcha.init()
    } catch (e) {
      console.error(e);
    }
  },
  beforeDestroy() {
    // this.$recaptcha.destroy()
  }
}
</script>
