<template>
<div>
  <div class="container">
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    <h1 class="title title--main title--page text-center">{{ page.name }}</h1>
    <FaqItems />
  </div>
  <FeedbackBox/>
</div>
</template>

<script>
import {BBreadcrumb} from 'bootstrap-vue'
import FeedbackBox from '../components/FeedbackBox'
import FaqItems from '../components/Faqs/FaqItems'

export default {
  name: 'faqs',
  components: {
    BBreadcrumb,
    FeedbackBox,
    FaqItems
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
        name: 'keywords',
        content: this.page.keywords,
        },
        {
        name: 'description',
        content: this.page.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'faqs'
      }
    }
  },
  async asyncData({$axios, i18n, app}) {
    try {
      const resourcePage = await $axios.$get('page', {
        params: {
          locale: i18n.locale,
          filters: {
            type: 'faq',
          },
        }
      })
      const page = resourcePage.data

      return {
        page,
        breadcrumb: [
          {
            text: i18n.t('home'),
            href: app.localePath('/')
          },
          {
            text: page.name,
            active: true
          },
        ],
      }
    } catch (e) {
      error(e)
    }
  },
  data() {
    return {
      page: null,
      breadcrumb: [],
    }
  },
  create() {
    this.$store.commit('main/setMainClass', '')
  },
}
</script>
