<template>
  <div>
    <section class="section-carousel">
      <div class="row">
        <div class="col-lg-8 section-carousel__main">
          <VueSlickCarousel v-if="images.slider.length > 0" v-bind="settingsHomeSlider" class="carousel-main">
            <template #prevArrow="arrowOption">
              <button class="slick-prev">
                <svg class="icon-svg" height="40" width="40">
                  <use xlink:href="~assets/img/sprite.svg#carousel-left"></use>
                </svg>
              </button>
            </template>
            <template #nextArrow="arrowOption">
              <button class="slick-next">
                <svg class="icon-svg" height="40" width="40">
                  <use xlink:href="~assets/img/sprite.svg#carousel-right"></use>
                </svg>
              </button>
            </template>

            <div v-for="(image, index) in images.slider" :key="index" class="carousel-main__item">
              <img :alt="image.name" :src="image.image_url" class="carousel-main__item-img"/>
            </div>
          </VueSlickCarousel>
        </div>
        <div v-if="!isTablet" class="col-lg-4 banner-main">
          <div v-if="images.banner[0]" class="banner-main__item">
            <img :alt="images.banner[0].name" :src="images.banner[0].image_url" class="banner-main__item-img"/>
          </div>
          <div v-if="images.banner[1]" class="banner-main__item">
            <img :alt="images.banner[1].name" :src="images.banner[1].image_url" class="banner-main__item-img"/>
          </div>
        </div>
      </div>
    </section>

    <SliderProduct
      type="rand"
      :text="$t('range')"
      :title="$t('products')"
      :url="localePath('catalog')"
      :url-text="$t('view_all_products')"
      name="productsRand"
      text-class="bg-text--goods"
      title-class="section-goods__title"
    />

    <SliderProduct
      type="top"
      :text="$t('popular')"
      :title="$t('top_sales')"
      :url="{ path: localePath('catalog'), query: { productType: 'top' }}"
      :url-text="$t('view_all_products')"
      name="productsTop"
      text-class="bg-text--top"
      title-class="section-goods__title"
    />

    <SliderBrands/>

    <SliderProduct
      :text="$t('actual')"
      :title="$t('seasonal_goods')"
      :url="{ path: localePath('catalog'), query: { productType: 'season' }}"
      name="productsSeason"
      :url-text="$t('view_all_products')"
      text-class="bg-text--actual"
      type="season"
      title-class="section-goods__title"
    />

    <SliderProduct
      :text="$t('new_arrivals')"
      :title="$t('new_items')"
      :url="{ path: localePath('catalog'), query: { productType: 'new' }}"
      :url-text="$t('view_all_products')"
      name="productsNew"
      text-class="bg-text--new"
      title-class="section-goods__title"
      type="new"
    />

    <SliderProduct
      :text="$t('back_in_stock')"
      :title="$t('back_in_stock')"
      :url="{ path: localePath('catalog'), query: { productType: 'again' }}"
      :url-text="$t('view_all_products')"
      name="productsAgain"
      text-class="bg-text--on-store"
      title-class="section-goods__title"
      type="again"
    />

    <SliderProduct
      :text="$t('discount_products')"
      :title="$t('stock_interest')"
      :url="{ path: localePath('catalog'), query: { productType: 'sale' }}"
      :url-text="$t('view_all_products')"
      name="productsSale"
      text-class="bg-text--sale"
      title-class="title--red section-goods__title"
      type="sale"
    />

    <SeoText v-if="!hideSeoText" :class="mainClass === 'container' ? '' : 'container'">
      <div v-html="seoPageHome.content"></div>
    </SeoText>
  </div>
</template>

<script>
import GoodsCarousel from '../components/GoodsCarousel'
import GoodsCarouselBtn from '../components/GoodsCarouselBtn'
import CardGoods from '../components/CardGoods'
import slider from "@vueform/slider";
import SeoText from '../components/SeoText'
import SliderProduct from '../components/Home/SliderProduct'

export default {
  head() {
    return {
      title: this.seoPageHome.title,
      meta: [
        {
          name: 'keywords',
          content: this.seoPageHome.keywords,
        },
        {
          name: 'description',
          content: this.seoPageHome.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'home'
      }
    }
  },
  components: {
    GoodsCarousel,
    GoodsCarouselBtn,
    CardGoods,
    SeoText,
    SliderProduct,
  },
  async asyncData({$axios, i18n, store, error}) {
    store.commit('main/setMainClass', 'container')

    try {
      const resourcePage = await $axios.$get('page', {
        params: {
          locale: i18n.locale,
          filters: {
            type: 'home',
          },
        }
      }).catch(({response}) => {
        console.log('fail-home-page');
        console.log(response)
      })

      const seoPageHome = resourcePage.data
      const resourceSliders = await $axios.$get('sliders', {
        params: {
          locale: i18n.locale
        }
      }).catch(({response}) => {
        console.log('fail-home-sliders');
        console.log(response)
      })

      const imagesSlider = resourceSliders.data.filter(item => item.type == 'slider')
      let imagesBanner = [];
      imagesBanner.push(resourceSliders.data.filter(item => (item.type == 'banner' && item.position == 1))[0])
      imagesBanner.push(resourceSliders.data.filter(item => (item.type == 'banner' && item.position == 2))[0])

      return {
        seoPageHome,
        images: {
          slider: imagesSlider,
          banner: imagesBanner,
        }
      }
    } catch (e) {
      error(e)
    }
  },
  data() {
    return {
      isTablet: false,
      settingsHomeSlider: {
        slidesToShow: 1,
        slidesToScroll: 1,
        speed: 1000,
        dots: false,
        arrows: true,
        infinite: false,
        touchMove: false,
      },
      images: {
        slider: [],
        banner: [],
      }
    }
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
  },
  computed: {
    mainClass() {
      return this.$store.getters['main/getMainClass']
    },
    hideSeoText() {
      return this.$store.getters['main/getHideSeoText']
    }
  },
  create() {
    this.$store.commit('main/setMainClass', 'container')
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  },
}
</script>
