<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('pages.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>
                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('pages.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]" class="text-danger">{{
                                                    errors['name.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- title -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.title.title') + '('+ locale +')'"
                                            :label-for="'title-'+locale"
                                        >
                                            <b-form-input
                                                :id="'title-'+locale"
                                                v-model="form.title[locale]"
                                                :name="'title-'+locale"
                                                :placeholder="trans.get('pages.form.title.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['title.'+locale]" class="text-danger">{{
                                                    errors['title.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- keywords -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.keywords.title') + '('+ locale +')'"
                                            :label-for="'keywords-'+locale"
                                        >
                                            <b-form-input
                                                :id="'keywords-'+locale"
                                                v-model="form.keywords[locale]"
                                                :name="'keywords-'+locale"
                                                :placeholder="trans.get('pages.form.keywords.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['keywords.'+locale]" class="text-danger">{{
                                                    errors['keywords.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.description.title') + '('+ locale +')'"
                                            :label-for="'description-'+locale"
                                        >
                                            <b-form-input
                                                :id="'description-'+locale"
                                                v-model="form.description[locale]"
                                                :name="'description-'+locale"
                                                :placeholder="trans.get('pages.form.description.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['description.'+locale]" class="text-danger">{{
                                                    errors['description.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- phones -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.phones.title') + '('+ locale +')'"
                                            :label-for="'value-phones-'+locale"
                                        >
                                            <b-form-tags
                                                :key="'value-phones-'+locale"
                                                v-model="form.value[locale]['phones']"
                                                :input-id="'value-phones-'+locale"
                                                :placeholder="trans.get('pages.form.value.phones.placeholder') + '('+ locale +')'"
                                                no-add-on-enter
                                                separator=" ,;"
                                            />
                                            <small v-if="errors['value.'+locale+'.phones']" class="text-danger">{{
                                                    errors['value.' + locale + '.phones']
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- email -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.email.title') + '('+ locale +')'"
                                            :label-for="'value-email-'+locale"
                                        >
                                            <b-form-tags
                                                :key="'value-email-'+locale"
                                                v-model="form.value[locale]['email']"
                                                :input-id="'value-email-'+locale"
                                                :placeholder="trans.get('pages.form.value.email.placeholder') + '('+ locale +')'"
                                                no-add-on-enter
                                                separator=" ,;"
                                            />
                                            <small v-if="errors['value.'+locale+'.email']" class="text-danger">{{
                                                    errors['value.' + locale + '.email']
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- address -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.address.title') + '('+ locale +')'"
                                            :label-for="'value-address-'+locale"
                                        >
                                            <b-form-input
                                                :id="'value-address-'+locale"
                                                :key="'value-address-'+locale"
                                                v-model="form.value[locale]['address']"
                                                :name="'value-address-'+locale"
                                                :placeholder="trans.get('pages.form.value.address.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['value.'+locale+'.address']" class="text-danger">{{
                                                    errors['value.' + locale + '.address']
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- time_work -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.time_work.title') + '('+ locale +')'"
                                            :label-for="'value-time_work-'+locale"
                                        >
                                            <div class="row col-md-12">
                                                <div class="col-md-6">
                                                    <b-form-input
                                                        :id="'value-time_work-time-'+locale"
                                                        :key="'value-time_work-time-'+locale"
                                                        v-model="form.value[locale]['time_work']['time']"
                                                        :name="'value-time_work-time-'+locale"
                                                        :placeholder="trans.get('pages.form.value.time_work.time.placeholder') + '('+ locale +')'"
                                                        :state="errors.length > 0 ? false:null"
                                                    />
                                                    <small v-if="errors['value.'+locale+'.time_work.time']"
                                                           class="text-danger">{{
                                                            errors['value.' + locale + '.time_work.time']
                                                        }}</small>
                                                </div>
                                                <div class="col-md-6">
                                                    <b-form-input
                                                        :id="'value-time_work-day-'+locale"
                                                        :key="'value-time_work-day-'+locale"
                                                        v-model="form.value[locale]['time_work']['day']"
                                                        :name="'value-time_work-day-'+locale"
                                                        :placeholder="trans.get('pages.form.value.time_work.day.placeholder') + '('+ locale +')'"
                                                        :state="errors.length > 0 ? false:null"
                                                    />
                                                    <small v-if="errors['value.'+locale+'.time_work.day']"
                                                           class="text-danger">{{
                                                            errors['value.' + locale + '.time_work.day']
                                                        }}</small>
                                                </div>
                                            </div>
                                        </b-form-group>
                                    </div>
                                    <!-- map -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.map.title') + '('+ locale +')'"
                                            :label-for="'value-map-'+locale"
                                        >
                                            <l-map
                                                :center.sync="form.value[locale]['map']['center']"
                                                :zoom.sync="form.value[locale]['map']['zoom']"
                                                style="height: 380px"
                                            >
                                                <l-tile-layer
                                                    attribution='&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                                                    url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                                                />
                                                <l-marker
                                                    :draggable="true"
                                                    :lat-lng.sync="form.value[locale]['map']['marker']"
                                                    :visible="true"
                                                >
                                                    <l-icon>
                                                        <img
                                                            src="/admin/dist/images/vendor/leaflet/dist/marker-icon.png">
                                                    </l-icon>
                                                </l-marker>
                                            </l-map>
                                        </b-form-group>
                                    </div>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </div>


                    <inertia-link
                        :href="route('static-pages.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.edit') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BFormCheckbox,
    BFormFile,
    BTabs,
    BTab,
    BCardText,
    BCard,
    BFormTags,
} from 'bootstrap-vue'

import {Icon} from "leaflet";
import {LMap, LTileLayer, LMarker, LIcon} from "vue2-leaflet";
import 'leaflet/dist/leaflet.css';

delete Icon.Default.prototype._getIconUrl;
Icon.Default.mergeOptions({
    iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
    iconUrl: require('leaflet/dist/images/marker-icon.png'),
    shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
});

export default {
    props: ['data', 'errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BFormTags,

        LMap,
        LTileLayer,
        LMarker,
        LIcon,
    },
    data() {
        return {
            form: {
                id: this.data.data.id,
                name: {},
                title: {},
                keywords: {},
                description: {},
                slug: {},
                value: {},
                type: this.data.data.type,
                '_method': 'put',
            },
        }
    },
    computed: {},
    methods: {
        submit() {
            this.$inertia.post(this.route('static-pages.update', this.data.data.id), this.form)
        },
        centerUpdate(center) {
            this.currentCenter = center;
        },
    },
    created() {
        for (const locale in this.data.data.translations) {
            for (const name in this.data.data.translations[locale]) {
                this.$set(this.form[name], locale, this.data.data.translations[locale][name])
            }
        }
    }
}
</script>
<style lang="css">
</style>
