<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('pages.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>
                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('pages.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]" class="text-danger">{{
                                                    errors['name.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- title -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.title.title') + '('+ locale +')'"
                                            :label-for="'title-'+locale"
                                        >
                                            <b-form-input
                                                :id="'title-'+locale"
                                                v-model="form.title[locale]"
                                                :name="'title-'+locale"
                                                :placeholder="trans.get('pages.form.title.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['title.'+locale]" class="text-danger">{{
                                                    errors['title.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- keywords -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.keywords.title') + '('+ locale +')'"
                                            :label-for="'keywords-'+locale"
                                        >
                                            <b-form-input
                                                :id="'keywords-'+locale"
                                                v-model="form.keywords[locale]"
                                                :name="'keywords-'+locale"
                                                :placeholder="trans.get('pages.form.keywords.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['keywords.'+locale]" class="text-danger">{{
                                                    errors['keywords.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.description.title') + '('+ locale +')'"
                                            :label-for="'description-'+locale"
                                        >
                                            <b-form-input
                                                :id="'description-'+locale"
                                                v-model="form.description[locale]"
                                                :name="'description-'+locale"
                                                :placeholder="trans.get('pages.form.description.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['description.'+locale]" class="text-danger">{{
                                                    errors['description.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.description.title') + '('+ locale +')'"
                                            :label-for="'value-description-'+locale"
                                        >
                                            <editor
                                                :id="'value-description-'+locale"
                                                :key="'value-description-'+locale"
                                                v-model="form.value[locale]['description']"
                                                :placeholder="trans.get('pages.form.value.description.placeholder') + '('+ locale +')'"
                                            />
                                            <small v-if="errors['value.'+locale+'.description']" class="text-danger">{{
                                                    errors['value.' + locale + '.description']
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </div>


                    <inertia-link
                        :href="route('static-pages.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.edit') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup, BFormCheckbox, BFormFile, BTabs, BTab, BCardText, BCard,
} from 'bootstrap-vue'
import Editor from '@/js/components/Editor'

export default {
    props: ['data', 'errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,

        Editor,
    },
    data() {
        return {
            form: {
                id: this.data.data.id,
                name: {},
                title: {},
                keywords: {},
                description: {},
                slug: {},
                value: {},
                type: this.data.data.type,
                '_method': 'put',
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('static-pages.update', this.data.data.id), this.form)
        },
    },
    created() {
        for (const locale in this.data.data.translations) {
            for (const name in this.data.data.translations[locale]) {
                this.$set(this.form[name], locale, this.data.data.translations[locale][name])
            }
        }
    }
}
</script>
<style lang="css">
</style>
