<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('pages.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>
                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('pages.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]" class="text-danger">{{
                                                    errors['name.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- title -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.title.title') + '('+ locale +')'"
                                            :label-for="'title-'+locale"
                                        >
                                            <b-form-input
                                                :id="'title-'+locale"
                                                v-model="form.title[locale]"
                                                :name="'title-'+locale"
                                                :placeholder="trans.get('pages.form.title.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['title.'+locale]" class="text-danger">{{
                                                    errors['title.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- keywords -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.keywords.title') + '('+ locale +')'"
                                            :label-for="'keywords-'+locale"
                                        >
                                            <b-form-input
                                                :id="'keywords-'+locale"
                                                v-model="form.keywords[locale]"
                                                :name="'keywords-'+locale"
                                                :placeholder="trans.get('pages.form.keywords.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['keywords.'+locale]" class="text-danger">{{
                                                    errors['keywords.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.description.title') + '('+ locale +')'"
                                            :label-for="'description-'+locale"
                                        >
                                            <b-form-input
                                                :id="'description-'+locale"
                                                v-model="form.description[locale]"
                                                :name="'description-'+locale"
                                                :placeholder="trans.get('pages.form.description.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['description.'+locale]" class="text-danger">{{
                                                    errors['description.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :description="trans.get('pages.text.help-bloc-statistics')"
                                            :label="trans.get('pages.form.value.description.title') + '('+ locale +')'"
                                            :label-for="'value-description-'+locale"
                                        >
                                            <editor
                                                :id="'value-description-'+locale"
                                                :key="'value-description-'+locale"
                                                v-model="form.value[locale]['description']"
                                                :placeholder="trans.get('pages.form.value.description.placeholder') + '('+ locale +')'"
                                            />
                                            <small v-if="errors['value.'+locale+'.description']" class="text-danger">{{
                                                    errors['value.' + locale + '.description']
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                    <!-- bloc-statistics -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('pages.form.value.bloc-statistics.title') + '('+ locale +')'"
                                            :label-for="'value-bloc-statistics-'+locale"
                                        >
                                            <div>
                                                <!-- Row Loop -->
                                                <b-row
                                                    v-for="(item, index) in form.value[locale]['bloc-statistics']"
                                                    :id="index"
                                                    :key="index"
                                                    ref="row"
                                                    class="row"
                                                >

                                                    <!-- Item Name -->
                                                    <b-col md="4">
                                                        <b-form-group
                                                            :label="trans.get('pages.form.value.bloc-statistics.title') + '('+ locale +')'"
                                                            :label-for="'value-bloc-statistics-'+locale+'-'+index+'-0'"
                                                        >
                                                            <b-form-input
                                                                :id="'value-bloc-statistics-'+locale+'-'+index+'-0'"
                                                                v-model="form.value[locale]['bloc-statistics'][index][0]"
                                                                type="text"
                                                            />
                                                        </b-form-group>
                                                    </b-col>

                                                    <!-- Item Name -->
                                                    <b-col md="4">
                                                        <b-form-group
                                                            :label="trans.get('pages.form.value.bloc-statistics.title') + '('+ locale +')'"
                                                            :label-for="'value-bloc-statistics-'+locale+'-'+index+'-1'"
                                                        >
                                                            <b-form-input
                                                                :id="'value-bloc-statistics-'+locale+'-'+index+'-01'"
                                                                v-model="form.value[locale]['bloc-statistics'][index][1]"
                                                                type="text"
                                                            />
                                                        </b-form-group>
                                                    </b-col>

                                                    <!-- Remove Button -->
                                                    <b-col
                                                        class="mb-50"
                                                        lg="2"
                                                        md="3"
                                                    >
                                                        <b-button
                                                            class="mt-0 mt-md-2"
                                                            variant="outline-danger"
                                                            @click="removeItemBlocStatistics(locale, index)"
                                                        >
                                                            <feather-icon
                                                                class="mr-25"
                                                                icon="XIcon"
                                                            />
                                                            <span>{{ trans.get('general.text.delete') }}</span>
                                                        </b-button>
                                                    </b-col>
                                                    <b-col cols="12">
                                                        <hr>
                                                    </b-col>
                                                </b-row>
                                            </div>
                                            <b-button
                                                variant="primary"
                                                @click="repeateAgainBlocStatistics(locale)"
                                            >
                                                <feather-icon
                                                    class="mr-25"
                                                    icon="PlusIcon"
                                                />
                                                <span>{{ trans.get('general.text.create') }}</span>
                                            </b-button>

                                            <small v-if="errors['value.bloc-statistics.'+locale]" class="text-danger">{{
                                                    errors['value.bloc-statistics.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>


                                    <!-- images_gallery -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.images_gallery.title')"
                                            label-for="images_gallery"
                                        >
                                            <b-form-file
                                                id="images_gallery"
                                                v-model="form.images_gallery"
                                                :placeholder="trans.get('articles.form.images_gallery.placeholder')"
                                                :state="errors.length > 0 ? false:null"
                                                accept="image/*"
                                                multiple
                                                name="images_gallery"
                                                @change="imgsPreview"
                                            />
                                            <small v-if="errors['images_gallery']" class="text-danger">{{
                                                    errors['images_gallery']
                                                }}</small>
                                        </b-form-group>
                                        <div class="row match-height">
                                            <b-card
                                                v-for="(image, index) in images_gallery_preview"
                                                v-if="!lodash.isEmpty(images_gallery_preview)"
                                                :key="index"
                                                :img-alt="image.name"
                                                :img-src="image.url"
                                                :title="image.name"
                                                class="mb-3 col-md-6 col-lg-3"
                                                img-bottom
                                            >
                                                <b-card-text>
                                                    <b-button
                                                        class="btn-icon float-right"
                                                        variant="gradient-danger"
                                                        @click="deleteImages(index, image.id)"
                                                    >
                                                        <feather-icon icon="Trash2Icon"/>
                                                    </b-button>
                                                </b-card-text>
                                            </b-card>
                                        </div>
                                    </div>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                    </div>


                    <inertia-link
                        :href="route('static-pages.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.edit') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup, BFormCheckbox, BFormFile, BTabs, BTab, BCardText, BCard, BCol,
} from 'bootstrap-vue'
import Editor from '@/js/components/Editor'

export default {
    props: ['data', 'errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BCol,

        Editor,
    },
    data() {
        return {
            form: {
                id: this.data.data.id,
                name: {},
                title: {},
                keywords: {},
                description: {},
                slug: {},
                value: {},
                type: this.data.data.type,
                images_gallery: [],
                '_method': 'put',
            },
            images_gallery_preview: this.data.data.images,
        }
    },
    computed: {},
    methods: {
        submit() {
            this.$inertia.post(this.route('static-pages.update', this.data.data.id), this.form)
        },
        repeateAgainBlocStatistics(locale) {
            this.form.value[locale]['bloc-statistics'].push(['', ''])
        },
        removeItemBlocStatistics(locale, index) {
            this.form.value[locale]['bloc-statistics'].splice(index, 1)
        },
        imgsPreview(e) {
            let files = e.target.files
            for (let fileKey in files) {
                let file = files[fileKey]
                this.images_gallery_preview.push({name: file.name, url: URL.createObjectURL(file)})
                this.form.images_gallery.push(file)
                let reader = new FileReader()
            }
        },
        deleteImages(index, id) {
            this.$confirm(this.trans.get('general.text.delete_confirm'), null, null, {
                confirmButtonText: this.trans.get('general.text.yes'),
                cancelButtonText: this.trans.get('general.text.no'),
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn m-1 btn-sm base-button btn-primary',
                    cancelButton: 'btn m-1 btn-sm base-button btn-danger'
                }
            }).then(async () => {
                try {
                    if (id !== undefined) {
                        this.$inertia.delete(this.route(`media.destroy`, id), {
                            only: ['data', 'flash'],
                            preserveState: true,
                            replace: false
                        })
                    }

                    this.images_gallery_preview.splice(index, 1)
                    this.form.images_gallery.splice(index, 1)
                } catch (e) {
                    console.log('Ошибка при удалении', e)
                } finally {
                    // this.isBusy = false
                }
            }).catch()
        },
    },
    created() {
        for (const locale in this.data.data.translations) {
            for (const name in this.data.data.translations[locale]) {
                this.$set(this.form[name], locale, this.data.data.translations[locale][name])
            }
        }
    }
}
</script>
<style lang="css">
</style>
