<template>
<div>
  <div class="container">
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
    <h1 class="title title--main title--page text-center">{{ page.name }}</h1>
    <div class="blog-category-wrapper">
      <BlogCategory />
    </div>
    <Articles />
    <SeoText v-if="!hideSeoText" :class="mainClass === 'container' ? '' : 'container'" v-html="page.content"/>
  </div>
</div>
</template>

<script>
import {BBreadcrumb} from 'bootstrap-vue'
import SeoText from '../../components/SeoText'
import BlogCategory from '../../components/Blog/BlogCategory'
import Articles from '../../components/Blog/Articles'

export default {
  name: 'blogs',
  components: {
    BBreadcrumb,
    SeoText,
    Articles,
    BlogCategory
  },
  head() {
    return {
      title: this.page.title,
      meta: [
        {
        name: 'keywords',
        content: this.page.keywords,
        },
        {
        name: 'description',
        content: this.page.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'faqs'
      }
    }
  },
  async asyncData({$axios, i18n, app}) {
    const resourcePage = await $axios.$get('page', {
      params: {
        locale: i18n.locale,
        filters: {
          type: 'blogs',
        },
      }
    })
    const page = resourcePage.data

    return {
      page,
      breadcrumb: [
        {
          text: i18n.t('home'),
          href: app.localePath('/')
        },
        {
          text: page.name,
          active: true
        },
      ],
    }
  },
  data() {
    return {
      hideSeoText: false
    }
  },
  computed: {
    mainClass() {
      return this.$store.getters['main/getMainClass']
    },
  },
  create() {
    this.$store.commit('main/setMainClass', '')
  },
}
</script>
