<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('categories_articles.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>

                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('categories_articles.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('categories_articles.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]"
                                                   class="text-danger">{{ errors['name.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- title -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('categories_articles.form.title.title') + '('+ locale +')'"
                                            :label-for="'title-'+locale"
                                        >
                                            <b-form-input
                                                :id="'title-'+locale"
                                                v-model="form.title[locale]"
                                                :name="'title-'+locale"
                                                :placeholder="trans.get('categories_articles.form.title.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['title.'+locale]"
                                                   class="text-danger">{{ errors['title.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- keywords -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('categories_articles.form.keywords.title') + '('+ locale +')'"
                                            :label-for="'keywords-'+locale"
                                        >
                                            <b-form-input
                                                :id="'keywords-'+locale"
                                                v-model="form.keywords[locale]"
                                                :name="'keywords-'+locale"
                                                :placeholder="trans.get('categories_articles.form.keywords.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['keywords.'+locale]"
                                                   class="text-danger">{{ errors['keywords.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('categories_articles.form.description.title') + '('+ locale +')'"
                                            :label-for="'description-'+locale"
                                        >
                                            <b-form-input
                                                :id="'description-'+locale"
                                                v-model="form.description[locale]"
                                                :name="'description-'+locale"
                                                :placeholder="trans.get('categories_articles.form.description.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['description.'+locale]"
                                                   class="text-danger">{{ errors['description.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- slug -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('categories_articles.form.slug.title') + '('+ locale +')'"
                                            :label-for="'slug-'+locale"
                                        >
                                            <b-form-input
                                                :id="'slug-'+locale"
                                                v-model="form.slug[locale]"
                                                :name="'slug-'+locale"
                                                :placeholder="trans.get('categories_articles.form.slug.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['slug.'+locale]"
                                                   class="text-danger">{{ errors['slug.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                </b-card-text>
                            </b-tab>
                        </b-tabs>

                        <!-- position -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('categories_articles.form.position.title')"
                                label-for="position"
                            >
                                <b-form-input
                                    id="position"
                                    v-model="form.position"
                                    :placeholder="trans.get('categories_articles.form.position.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    name="position"
                                />
                                <small v-if="errors['position']" class="text-danger">{{ errors['position'] }}</small>
                            </b-form-group>
                        </div>
                    </div>


                    <inertia-link
                        :href="route('categories-articles.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.create') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BFormCheckbox,
    BFormFile,
    BTabs,
    BTab,
    BCardText,
    BCard,
    BFormRadioGroup,
    BFormRadio,
} from 'bootstrap-vue'

export default {
    props: ['errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BFormRadioGroup,
        BFormRadio,
    },
    data() {
        return {
            form: {
                name: {},
                title: {},
                keywords: {},
                description: {},
                slug: {},

                position: 1,
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('categories-articles.store'), this.form)
        },
    },
    mounted() {
        // const locales = JSON.stringify(this.$page.props.locales)
        const locales = this.$page.props.locales.reduce(function (o, val) {
            o[val] = null;
            return o;
        }, {})
        this.form.name = Object.assign({}, locales)
        this.form.title = Object.assign({}, locales)
        this.form.keywords = Object.assign({}, locales)
        this.form.description = Object.assign({}, locales)
        this.form.slug = Object.assign({}, locales)
    }
}
</script>
<style lang="css">
</style>
