<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('categories_articles.title.index') }}</h4>

                    <inertia-link
                        :href="route('categories-articles.create')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('categories_articles.text.add_categories_articles') }}
                    </inertia-link>

                </div>
                <div class="card-body">
                    <div class="card-text">
                        <vue-good-table
                            :columns="columns"
                            :pagination-options="{
                                enabled: true,
                                perPage: Number(serverParams.perPage),
                                setCurrentPage: Number(serverParams.page),

                                nextLabel: trans.get('general.text.next'),
                                prevLabel: trans.get('general.text.prev'),
                                rowsPerPageLabel: trans.get('general.text.pagination_showing_to'),
                                ofLabel: trans.get('general.text.pagination_showing_of'),
                              }"
                            :rows="tableData.data"
                            :totalRows="tableData.meta.total"
                            mode="remote"
                            @on-page-change="onPageChange"
                            @on-sort-change="onSortChange"
                            @on-column-filter="onColumnFilter"
                            @on-per-page-change="onPerPageChange">
                            <template slot="table-row" slot-scope="props">
                                <span v-if="props.column.field == 'action'">
                                    <inertia-link
                                        :href="route('categories-articles.edit', props.row.id)"
                                        class="btn btn-sm btn-outline-warning"
                                    >
                                        <feather-icon icon="EditIcon"/>
                                        <span>{{ trans.get('general.text.edit') }}</span>
                                    </inertia-link>
                                    <button
                                        class="btn btn-sm btn-outline-danger"
                                        @click="deleteElement(props.row.id)"
                                    >
                                        <feather-icon icon="Trash2Icon"/>
                                        <span>{{ trans.get('general.text.delete') }}</span>
                                    </button>

                                </span>
                                <span v-else>
                                  {{ props.formattedRow[props.column.field] }}
                                </span>
                            </template>
                            <div slot="emptystate">
                                {{ trans.get('general.text.table_emptiest') }}
                            </div>
                        </vue-good-table>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'

import 'vue-good-table/dist/vue-good-table.css'
import {VueGoodTable} from 'vue-good-table';
import {
    BImg,
} from 'bootstrap-vue'

export default {
    props: ['tableData', 'tableParams'],
    components: {
        'layout': LayoutMain,
        VueGoodTable,
        BImg,
    },
    data() {
        return {
            columns: [
                {
                    label: this.trans.get('categories_articles.table.columns.name'),
                    field: 'name',
                    filterOptions: {
                        enabled: true, // enable filter for this column
                        filterValue: this.tableParams.columnFilters.name ?? '',
                        placeholder: this.trans.get('general.text.search'), // placeholder for filter input
                    },
                },
                {
                    label: this.trans.get('general.text.action'),
                    field: 'action',
                    sortable: false,
                    width: '290px',
                },
            ],
            serverParams: {
                columnFilters: this.tableParams.columnFilters,
                sort: this.tableParams.sort,
                page: this.tableParams.page,
                perPage: this.tableParams.perPage,
            }
        }
    },
    methods: {
        getTableData() {
            this.$inertia.get(this.route('categories-articles.index'), {
                    page: this.serverParams.page,
                    sort: this.serverParams.sort,
                    perPage: this.serverParams.perPage,
                    columnFilters: this.serverParams.columnFilters,
                },
                {
                    preserveState: true
                }
            )
        },

        updateParams(newProps) {
            this.serverParams = Object.assign({}, this.serverParams, newProps);
        },

        onPageChange(params) {
            this.updateParams({page: params.currentPage});
            this.getTableData();
        },

        onPerPageChange(params) {
            this.updateParams({perPage: params.currentPerPage});
            this.getTableData();
        },

        onSortChange(params) {
            this.updateParams({
                sort: {
                    type: params[0].type,
                    field: params[0].field,
                },
            });
            this.getTableData();
        },

        onColumnFilter(params) {
            if (Array.isArray(this.serverParams.columnFilters) && this.serverParams.columnFilters.length == 0) {
                this.updateParams(params);
                this.serverParams.page = 1;
            } else {
                this.updateParams(params);
            }
            this.getTableData();
        },

        deleteElement(id) {
            this.$confirm(this.trans.get('general.text.delete_confirm'), null, null, {
                confirmButtonText: this.trans.get('general.text.yes'),
                cancelButtonText: this.trans.get('general.text.no'),
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn m-1 btn-sm base-button btn-primary',
                    cancelButton: 'btn m-1 btn-sm base-button btn-danger'
                }
            }).then(async () => {
                try {
                    this.$inertia.delete(this.route(`categories-articles.destroy`, id), {
                        only: ['tableData', 'flash'],
                        preserveState: false,
                        replace: true
                    })
                } catch (e) {
                    console.log('Ошибка при удалении', e)
                } finally {
                    // this.isBusy = false
                }
            }).catch()
        },

    }
}
</script>
<style lang="css">
</style>
