<template>
  <div class="row faq-list" role="tablist">
      <div class="col-md-6" v-for="faq in faqs">
        <FaqItem :faq-data="faq" :key="'FaqItem-'+faq.id"/>
      </div>
  </div>
</template>

<script>
import FaqItem from "./FaqItem"
export default {
  components: {
    FaqItem
  },
  async fetch() {
    try {
      const resourceFaqs = await this.$axios.$get('faqs', {
        params: {
          locale: this.$i18n.locale,
          sort: 'position',
        }
      })
      this.faqs = resourceFaqs.data
    } catch (e) {
      console.info('faqs')
      error(e)
    }
  },
  data() {
    return {
      faqs: []
    }
  },
}
</script>
