<template>
  <div :key="`faq-item-${faqData.id}`" :id="`faq-item-${faqData.id}`" class="faq-item">
    <h2 class="faq-item__header" @click="openOrCloseCollapse">
      <button class="faq-item__btn">
        <span class="title title-line-cap">{{ faqData.question }}</span>
      </button>
    </h2>
    <b-collapse v-model="visible" :key="`faq-item-collapse-${faqData.id}`" :id="`faq-item-collapse-${faqData.id}`" accordion="faq-accordion">
      <div class="faq-item__body dynamic-content dynamic-content--page">
        {{ faqData.reply }}
      </div>
    </b-collapse>
  </div>
</template>

<script>
import { BCollapse } from 'bootstrap-vue'

export default {
  name: 'FaqItem',
  props: [
    'faqData'
  ],
  components: {
    BCollapse
  },
  data() {
    let options = {
      easing: "ease",
      offset: -70,
      force: true,
      cancelable: true,
      onStart: false,
      onCancel: false,
      x: false,
      y: true
    }
    return {
      visible: false,
      options: options,
    }
  },
  methods: {
    openOrCloseCollapse() {
      this.visible = !this.visible
      if (this.visible){
        this.scrollToFaq()
      }
    },
    scrollToFaq() {
      this.$scrollTo(`#faq-item-${this.faqData.id}`, 800, this.options)
    }
  }
}

</script>
