<template>
    <div>
        <!-- BEGIN: Header-->
        <nav
            class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
            <div class="navbar-container d-flex content">
                <div class="bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav d-xl-none">
                        <li class="nav-item">
                            <a class="nav-link menu-toggle" href="javascript:void(0);">
                                <feather-icon
                                    icon="MenuIcon"
                                />
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link nav-link-style">
                                <feather-icon
                                    icon="MoonIcon"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav align-items-center ml-auto">
                    <li class="nav-item dropdown dropdown-user">
                        <a id="dropdown-user" aria-expanded="false"
                           aria-haspopup="true" class="nav-link dropdown-toggle dropdown-user-link"
                           data-toggle="dropdown" href="javascript:void(0);">
                            <div class="user-nav d-sm-flex d-none">
                                <span class="user-name fw-bolder">{{ user.name }}</span>
                                <span class="user-status">Admin</span>
                            </div>
                            <span class="avatar">
                           <img alt="avatar"
                                class="round"
                                height="40"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzdsRLDsgFGxP8Hd-ZgxDp494B2JExhB7fYcus09aFZzilNbbWIQ-Laro8KExqKsTE1IKMFVmywKI&usqp=CAU"
                                width="40">
                           <span class="avatar-status-online"></span>
                       </span>
                        </a>
                        <div aria-labelledby="dropdown-user" class="dropdown-menu dropdown-menu-right">
                            <!--                           <a class="dropdown-item" href="#"><i class="me-50" data-feather="user"></i> Profile</a>-->
                            <div class="dropdown-divider"></div>
                            <inertia-link
                                :href="route('logout')"
                                class="dropdown-item"
                                method="post"
                            >
                                <i class="me-50" data-feather="power"></i> {{ trans.get('auth.logout') }}
                            </inertia-link>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END: Header-->

        <!-- BEGIN: Main Menu-->
        <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item me-auto">
                        <inertia-link
                            :href="route('dashboard.index')"
                            class="navbar-brand"
                        >
                           <span class="brand-logo">
                               AP
                           </span>
                            <h2 class="brand-text">AdminPanel</h2>
                        </inertia-link>
                    </li>
                    <!--                    <li class="nav-item nav-toggle">-->
                    <!--                        <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">-->
                    <!--                            <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>-->
                    <!--                            <i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary"-->
                    <!--                               data-feather="disc" data-ticon="disc"></i>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                </ul>
            </div>
            <div class="shadow-bottom"></div>
            <div class="main-menu-content">
                <ul id="main-menu-navigation" class="navigation navigation-main" data-menu="menu-navigation">
                    <li :class="{ 'active': (isRouteCurrent('dashboard') || isRouteCurrent('admins')) }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('admins.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="UsersIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('admins.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('banners') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('banners.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="ImageIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('banners.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('lang-strings') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('lang-strings.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="TypeIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('lang_strings.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('seo-pages') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('seo-pages.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="LayersIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('seo_pages.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('static-pages') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('static-pages.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="FileTextIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('pages.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('categories-articles') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('categories-articles.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="ListIcon"
                            />
                            <span class="menu-title text-truncate">{{
                                    trans.get('categories_articles.title.general')
                                }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('blog-articles') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('blog-articles.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="BookIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('articles.title.general') }}</span>
                        </inertia-link>
                    </li>
                    <li :class="{ 'active': isRouteCurrent('page-faqs') }"
                        class="nav-item"
                    >
                        <inertia-link
                            :href="route('page-faqs.index')"
                            class="d-flex align-items-center"
                        >
                            <feather-icon
                                icon="CheckSquareIcon"
                            />
                            <span class="menu-title text-truncate">{{ trans.get('faqs.title.general') }}</span>
                        </inertia-link>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END: Main Menu-->

        <!-- BEGIN: Content-->
        <div class="app-content content ">
            <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper container-xxl p-0">
                <div class="content-header row">
                    <div class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12">
                                <h2 class="content-header-title float-start mb-0">{{ $page.props.metaInfo.title }}</h2>
                                <!--                               <div class="breadcrumb-wrapper">-->
                                <!--                                   <ol class="breadcrumb">-->
                                <!--                                       <li class="breadcrumb-item"><a href="index.html">Home</a>-->
                                <!--                                       </li>-->
                                <!--                                       <li class="breadcrumb-item active">Index-->
                                <!--                                       </li>-->
                                <!--                                   </ol>-->
                                <!--                               </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <slot/>

            </div>
        </div>
        <!-- END: Content-->

        <div class="sidenav-overlay"></div>
        <div class="drag-target"></div>

        <!-- BEGIN: Footer-->
        <footer class="footer footer-static footer-light">
            <p class="clearfix mb-0">
                <span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT &copy; 2021 <span
                    class="d-none d-sm-inline-block">, All rights Reserved. Created by <a href="https://raxkor.com/"
                                                                                          target="_blank">raxkor</a></span></span>
            </p>
        </footer>
        <!--       <button class="btn btn-primary btn-icon scroll-top" type="button"><i data-feather="arrow-up"></i></button>-->
        <!-- END: Footer-->
    </div>
</template>
<script>
export default {
    props: [],
    components: {},
    data() {
        return {}
    },
    computed: {
        user() {
            return this.$page.props.auth
        }
    },
    methods: {},
    mounted() {
    },
    destroyed() {
    }
}
</script>

<style lang="css">
</style>
