<template>
  <div class="__hozland-layout">
    <HozHeader/>
    <main :class="mainClass" class="content">
      <Nuxt/>
    </main>
    <HozFooter/>
    <back-to-top>
      <div class="btn btn--scroll-to">
        <svg class="icon-svg" height="9" width="15">
          <use xlink:href="~assets/img/sprite.svg#arrow-down"></use>
        </svg>
      </div>
    </back-to-top>
    <b-modal id="feedback-modal" class="feedback-modal" hide-footer hide-header size="sm">
      <template #default="{ hide }">
        <button class="btn-reset modal-close" @click="hide()">
          <svg class="icon-svg" height="18" width="19">
            <use xlink:href="~assets/img/sprite.svg#close"></use>
          </svg>
        </button>
        <div class="text-center">
          <div class="title title--secondary text-uppercase">{{ $t('request_call') }}</div>
          <div class="small-font-size mt-2">Мы свяжемся с вами в ближайшее время.</div>
        </div>
        <form action="" class="modal-feedback">
          <div class="form-group">
            <div class="form-label">Имя</div>
            <input v-model="surname" class="form-control" type="text">
            <span v-if="true" class="input-error">Чеееееееее</span>
          </div>
          <div class="form-group">
            <div class="form-label">Телефон</div>
            <input v-model="phone" v-mask="'(###) ###-####'" class="form-control" placeholder="(099) 999-9999"
                   type="text">
          </div>
          <div class="form-group">
            <div class="form-label">Город</div>
            <select v-model="town" class="custom-select">
              <option value="">Town</option>
            </select>
          </div>
          <div class="text-center">
            <button class="btn btn--blue">Заказать</button>
          </div>
        </form>
      </template>
    </b-modal>
  </div>
</template>

<script>
import HozHeader from '../components/Header'
import HozFooter from '../components/Footer'
import {BModal} from 'bootstrap-vue'

export default {
  components: {
    HozHeader,
    HozFooter,
    BModal,
  },
  data() {
    return {
      surname: '',
      phone: '',
      town: '',
    }
  },
  computed: {
    mainClass() {
      return this.$store.getters['main/getMainClass']
    },
  },
}
</script>
