<template>
  <div>
    <h1 v-if="error.statusCode === 404">Page not found</h1>
    <h1 v-else>An error occurred</h1>
    <NuxtLink to="/">Home page</NuxtLink>
    <b-breadcrumb :items="breadcrumb"></b-breadcrumb>

    <div class="text-center">
      <img src="~assets/img/not-found.svg" alt="404" class="img-fluid">
      <p class="mt-5">Кажется, этой страницы больше не существует... <br>
        Обновите или <a href="" class="link link--base">возвращайтесь в наш Каталог!</a></p>
      <a href="" class="btn btn--blue mt-4">К покупкам!</a>
    </div>
  </div>
</template>

<script>
import {BBreadcrumb} from 'bootstrap-vue'

export default {
  props: ['error'],
  layout: 'default', // you can set a custom layout for the error page
  components: {
    BBreadcrumb,
  },
  data() {
    return {
      breadcrumb: [
        {
          text: this.$t('home'),
          href: this.localePath('/')
        },
        {
          text: 'О нас',
          active: true
        },
      ],
    }
  },
}
</script>
