<template>
  <div :class="{'card-goods--option' : isOptionProduct}" class="card-goods">
    <button v-if="!isOptionProduct && dataProduct.vacation" v-b-tooltip.hover.html
            class="goods-box-tooltip card-goods__box-tooltip btn-reset"
            title="<div class='tooltip-inner__title'>Этот товар отпускается кратно упаковке</div>Цена за 1 шт.: 125 грн."
    >{{ $t('multiple_packaging') }}
      <svg class="icon-svg" height="16" width="16">
        <use xlink:href="~assets/img/sprite.svg#box"></use>
      </svg>
    </button>
    <button class="btn-reset btn-add-favorite card-goods__favorite">
      <svg class="icon-svg" height="20" width="20">
        <use xlink:href="~assets/img/sprite.svg#hearth"></use>
      </svg>
    </button>
    <NuxtLink :to="{ name: 'product_slug___'+$i18n.locale, params: { product_slug: dataProduct.slug }}"
              class="card-goods__img-wrap">
      <img :alt="dataProduct.name"
           :src="dataProduct.image.url_thumb ? dataProduct.image.url_thumb : require(`~/assets/img/default-goods–card.svg`)"
           class="card-goods__img">
    </NuxtLink>
    <div class="card-goods__body">
      <a v-if="!isOptionProduct" class="card-goods__detail" href="">{{ dataProduct.brand.name }}</a>
      <h3 class="card-goods__name">
        <NuxtLink :to="{ name: 'product_slug___'+$i18n.locale, params: { product_slug: dataProduct.slug }}"
                  class="card-goods__name-link title-line-cap">
          {{ dataProduct.name }}
        </NuxtLink>
<!--        <a v-if="isOptionProduct" class="card-goods__name-link title-line-cap" href="">Белый</a>-->
      </h3>
      <div v-if="!isOptionProduct" class="card-goods__price card-goods__price--discount">
        <span>??? 0 ₴</span> ??? 0 ₴
      </div>
      <button
        v-if="count === 0"
        class="btn btn--blue btn--add-to-card"
        @click="count = 1"
      >
        <svg class="icon-svg" height="18" width="19">
          <use xlink:href="~assets/img/sprite.svg#add-to-cart"></use>
        </svg>
        <span>{{ $t('in_garbage') }}</span>
      </button>
      <Qty
        v-if="count > 0"
        v-model="count"
      />
    </div>
  </div>
</template>

<script>
import Qty from './Qty'
import {BTooltip} from 'bootstrap-vue'

export default {
  components: {
    Qty,
    BTooltip,
  },
  props: {
    isOptionProduct: {
      type: Boolean,
      default: false
    },
    dataProduct: Object,
  },
  data() {
    return {
      count: 0,
    }
  },
}
</script>
