<template>
  <section class="section-map">
    <div class="container">
      <no-ssr>
        <l-map
          :zoom="zoom"
          :center="center"
        >
          <l-tile-layer
            url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
            attribution='&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          />
          <l-marker
            :lat-lng="marker"
          >
            <l-icon>
              <img
                src="/admin/dist/images/vendor/leaflet/dist/marker-icon.png">
            </l-icon>
          </l-marker>
        </l-map>
      </no-ssr>
      <iframe
          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=24.01669263839722%2C49.84801479706648%2C24.045016765594486%2C49.86035518327265&amp;layer=mapnik">
      </iframe>
    </div>
  </section>
</template>

<script>
  export default {
    props: {
      zoom: {
        type: Number,
        default: 6,
      },
      center: {
        type: Object,
        default: {"lat": 48.589326, "lng": 34.49707},
      },
      marker: {
        type: Object,
        default: {"lat": 48.589326, "lng": 34.49707},
      },
    }
  }
</script>
