<template>
  <section class="section-feedback">
    <div class="container section-feedback__inner">
      <h3 class="title title--secondary text-uppercase">{{ $t('still_have_questions') }}</h3>
      <p class="mt-2">{{ $t('leave_phone_call') }}</p>
      <form action="" class="section-feedback__form feedback-form">
        <input type="text" class="feedback-form__input form-control" v-model="phone" v-mask="'38 (###) ###-####'"
               placeholder="38 (___) __ __ ___">
        <div v-if="errors.length > 0" class="input-error">{{ errors.phone[0] }}</div>
        <button class="btn btn--blue feedback-form__btn" type="submit" @click.prevent="send">{{
            $t('call_me_back')
          }}
        </button>
      </form>
    </div>
  </section>
</template>
<script>
export default {
  data() {
    return {
      errors: [],
      phone: '',
    }
  },
  methods: {
    send() {
      // TODO send phone
    },
  },
}

</script>
