<template>
  <div class="filter">
    <div class="filter__body">
      <div class="title title--third text-uppercase">{{ $t('filters') }}</div>
      <div class="filter__item">
        <div class="filter__results">

          <div v-if="filter.rangePrice[0] != 0 || filter.rangePrice[1] != 20000" class="filter__results-item">
            {{ filter.rangePrice[0] }} - {{ filter.rangePrice[1] }}
            <button class="btn-reset filter__results-delete" @click="filter.rangePrice = [0, 20000]">
              <svg class="icon-svg" fill="none" height="8" viewBox="0 0 7 8" width="7"
                   xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M0.853553 0.951134C0.658291 0.755872 0.341709 0.755872 0.146447 0.951134C-0.0488155 1.1464 -0.0488155 1.46298 0.146447 1.65824L2.75217 4.26396L0.14657 6.86956C-0.0486922 7.06482 -0.0486922 7.38141 0.14657 7.57667C0.341832 7.77193 0.658415 7.77193 0.853677 7.57667L3.45928 4.97107L6.06487 7.57667C6.26014 7.77193 6.57672 7.77193 6.77198 7.57667C6.96724 7.38141 6.96724 7.06482 6.77198 6.86956L4.16638 4.26396L6.7721 1.65824C6.96737 1.46298 6.96737 1.1464 6.7721 0.951134C6.57684 0.755872 6.26026 0.755872 6.065 0.951134L3.45928 3.55686L0.853553 0.951134Z"
                      fill="#9B9B9B" fill-rule="evenodd"/>
              </svg>
            </button>
          </div>

          <div v-for="productType in filterProductsType" class="filter__results-item">
            {{ productType.text }}
            <button class="btn-reset filter__results-delete"
                    @click="filter.productsType = filter.productsType.filter(function(e) { return e != productType.id });getProductsCount()">
              <svg class="icon-svg" fill="none" height="8" viewBox="0 0 7 8" width="7"
                   xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M0.853553 0.951134C0.658291 0.755872 0.341709 0.755872 0.146447 0.951134C-0.0488155 1.1464 -0.0488155 1.46298 0.146447 1.65824L2.75217 4.26396L0.14657 6.86956C-0.0486922 7.06482 -0.0486922 7.38141 0.14657 7.57667C0.341832 7.77193 0.658415 7.77193 0.853677 7.57667L3.45928 4.97107L6.06487 7.57667C6.26014 7.77193 6.57672 7.77193 6.77198 7.57667C6.96724 7.38141 6.96724 7.06482 6.77198 6.86956L4.16638 4.26396L6.7721 1.65824C6.96737 1.46298 6.96737 1.1464 6.7721 0.951134C6.57684 0.755872 6.26026 0.755872 6.065 0.951134L3.45928 3.55686L0.853553 0.951134Z"
                      fill="#9B9B9B" fill-rule="evenodd"/>
              </svg>
            </button>
          </div>

          <div v-for="brand in filterBrands" class="filter__results-item">
            {{ brand.text }}
            <button class="btn-reset filter__results-delete"
                    @click="filter.brands = filter.brands.filter(function(e) { return e != brand.id });getProductsCount()">
              <svg class="icon-svg" fill="none" height="8" viewBox="0 0 7 8" width="7"
                   xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M0.853553 0.951134C0.658291 0.755872 0.341709 0.755872 0.146447 0.951134C-0.0488155 1.1464 -0.0488155 1.46298 0.146447 1.65824L2.75217 4.26396L0.14657 6.86956C-0.0486922 7.06482 -0.0486922 7.38141 0.14657 7.57667C0.341832 7.77193 0.658415 7.77193 0.853677 7.57667L3.45928 4.97107L6.06487 7.57667C6.26014 7.77193 6.57672 7.77193 6.77198 7.57667C6.96724 7.38141 6.96724 7.06482 6.77198 6.86956L4.16638 4.26396L6.7721 1.65824C6.96737 1.46298 6.96737 1.1464 6.7721 0.951134C6.57684 0.755872 6.26026 0.755872 6.065 0.951134L3.45928 3.55686L0.853553 0.951134Z"
                      fill="#9B9B9B" fill-rule="evenodd"/>
              </svg>
            </button>
          </div>

        </div>
        <button class="btn-reset link mt-3" @click="resetFilters">{{ $t('reset_filters') }}</button>
        <button class="btn-reset link mt-3 d-block" @click="isHiddenCollapse = !isHiddenCollapse">
          <span v-if="!isHiddenCollapse">{{ $t('to_uncover') }}</span><span v-else>{{ $t('hide') }}</span>
          {{ $t('all_filters') }}
        </button>
      </div>
      <div class="filter__item">
        <div v-b-toggle.item0 class="filter__item-head">
          <div class="title title--third filter__item-title">{{ $t('by_price') }}</div>
          <svg class="filter__item-arrow icon-svg" height="7" width="13">
            <use xlink:href="~assets/img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
        <b-collapse id="item0" :visible="isHiddenCollapse">
          <div class="filter__item-body">
            <div class="filter__item-range">
              <b-form-input v-model="filter.rangePrice[0]" class="form-control filter__item-control-price" type="number"
                            @change="getProductsCount"></b-form-input>
              <span class="ml-2 mr-2">-</span>
              <b-form-input v-model="filter.rangePrice[1]" class="form-control filter__item-control-price" type="number"
                            @change="getProductsCount"></b-form-input>
            </div>
            <client-only>
              <SliderPrice
                v-model="filter.rangePrice"
                :max="100000"
                :min="0"
                :tooltips="false"
                class="filter__item-range-slider"
                @change="getProductsCount"
              />
            </client-only>
          </div>
        </b-collapse>
      </div>
      <div class="filter__item">
        <div v-b-toggle.item-products-type class="filter__item-head">
          <div class="title title--third filter__item-title">{{ $t('types_of_goods') }}</div>
          <svg class="filter__item-arrow icon-svg" height="7" width="13">
            <use xlink:href="~assets/img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
        <b-collapse id="item-products-type" :visible="isHiddenCollapse">
          <div class="filter__item-body">
            <b-form-checkbox-group
              id="checkbox-group-products-type"
              v-model="filter.productsType"
              name="products-type"
              stacked
            >
              <b-form-checkbox v-for="productType in productsType" :key="productType.id" :value="productType.id"
                               class="filter__item-control" @change="getProductsCount">{{ productType.name }}
                <template v-if="counts['type_'+productType.id] >= 0">({{ counts['type_' + productType.id] }})</template>
              </b-form-checkbox>
            </b-form-checkbox-group>
          </div>
        </b-collapse>
      </div>
      <div class="filter__item">
        <div v-b-toggle.item1 class="filter__item-head">
          <div class="title title--third filter__item-title">{{ $t('brands') }}</div>
          <svg class="filter__item-arrow icon-svg" height="7" width="13">
            <use xlink:href="~assets/img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
        <b-collapse id="item1" :visible="isHiddenCollapse">
          <div class="filter__item-body">
            <b-form-checkbox-group
              id="checkbox-group-brand"
              v-model="filter.brands"
              name="brands"
              stacked
            >
              <b-form-checkbox v-for="brand in brands" :key="brand.id" :value="brand.id" class="filter__item-control"
                               @change="getProductsCount">{{ brand.name }}
                <template v-if="counts['brand_'+brand.id] >= 0">({{ counts['brand_' + brand.id] }})</template>
              </b-form-checkbox>
            </b-form-checkbox-group>
          </div>
        </b-collapse>
      </div>
    </div>
    <div class="filter__footer">
      <button class="btn btn--blue filter__submit-btn" @click="showProducts">{{ $t('show') }} <span>{{
          counts.products
        }} {{ $t('goods') }}</span></button>
    </div>
  </div>
</template>
<script>

import {BFormCheckboxGroup} from 'bootstrap-vue'
import {BFormCheckbox} from 'bootstrap-vue'
import {BFormRadio} from 'bootstrap-vue'
import {BFormRadioGroup} from 'bootstrap-vue'
import {BCollapse} from 'bootstrap-vue'
import {BFormInput} from 'bootstrap-vue'
import SliderPrice from '@vueform/slider/dist/slider.vue2.js'

export default {
  components: {
    BFormCheckboxGroup,
    BFormCheckbox,
    BFormRadio,
    BFormRadioGroup,
    BCollapse,
    BFormInput,
    SliderPrice,
  },
  props: [
    'openFilter'
  ],
  async fetch() {
    const resourceBrands = await this.$axios.$get('brands', {
      params: {
        locale: this.$i18n.locale,
        sort: 'name'
      }
    })
    this.brands = resourceBrands.data
  },
  data() {
    return {
      isHiddenCollapse: false,
      brands: [],
      productsType: [
        {
          id: 'top',
          name: this.$t('top_sales'),
        },
        {
          id: 'season',
          name: this.$t('seasonal_goods'),
        },
        {
          id: 'new',
          name: this.$t('new_items'),
        },
        {
          id: 'again',
          name: this.$t('back_in_stock'),
        },
        {
          id: 'sale',
          name: this.$t('stock_interest'),
        },
      ],
      counts: {
        products: 0
      },
      filter: {
        productsType: [],
        brands: [],
        rangePrice: [0, 20000],
      },
      search: ''
    }
  },
  computed: {
    filterBrands() {
      let filterBrands = [];
      this.filter.brands.map(function (queryBrand) {
        let brandFind = this.brands.find(brand => brand.id == queryBrand)
        if (brandFind) filterBrands.push({id: brandFind.id, text: brandFind.name})
      }, this)
      return filterBrands
    },
    filterProductsType() {
      let filterProductsType = [];
      this.filter.productsType.map(function (queryProductType) {
        let productTypeFind = this.productsType.find(productType => productType.id == queryProductType)
        if (productTypeFind) filterProductsType.push({id: productTypeFind.id, text: productTypeFind.name})
      }, this)
      return filterProductsType
    }
  },
  methods: {
    showProducts() {
      this.setUrlParams()
    },
    getUrlParams() {
      if (this.$route.query.price) {
        this.filter.rangePrice = this.$route.query.price
      }
      if (this.$route.query.brand) {
        if (typeof this.$route.query.brand == "object") {
          this.filter.brands = this.$route.query.brand
        } else {
          this.filter.brands.push(this.$route.query.brand)
        }
      }
      if (this.$route.query.productType) {
        if (typeof this.$route.query.productType == "object") {
          this.filter.productsType = this.$route.query.productType
        } else {
          this.filter.productsType.push(this.$route.query.productType)
        }
      }
      if (this.$route.query.search) {
        this.search = this.$route.query.search
      }
      this.getProductsCount()
    },
    setUrlParams() {
      let queryParams = {...this.$route.query};
      if (this.filter.rangePrice) {
        queryParams = {...queryParams, price: this.filter.rangePrice}
      } else {
        delete queryParams.price
      }

      if (this.filter.brands) {
        queryParams = {...queryParams, brand: this.filter.brands}
      } else {
        delete queryParams.brand
      }

      if (this.filter.productsType) {
        queryParams = {...queryParams, productType: this.filter.productsType}
      } else {
        delete queryParams.productType
      }

      if (this.search) {
        queryParams = {...queryParams, search: this.search}
      } else {
        delete queryParams.search
      }

      this.$router.push({query: {...queryParams}})
    },
    async getProductsCount() {
      let branchId = await this.$store.getters['branches/getBranchId'];
      const countProductBrands = await this.$axios.$get('products/count', {
        params: {
          locale: this.$i18n.locale,
          filters: {
            price: this.filter.rangePrice,
            brands: this.filter.brands,
            types: this.filter.productsType,
            branch: branchId,
          },
          search: this.search
        }
      })
      this.counts = countProductBrands.data
    },
    resetFilters() {
      this.filter.brands = []
      this.filter.productsType = []
      this.filter.rangePrice = [0, 20000]
      this.getProductsCount()
    },
  },
  beforeMount() {
    this.getUrlParams()
  },
}
</script>
