<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-12 col-sm-4 order-tablet-1 text-center footer__item">
          <img alt="" class="img-fluid footer__logo" src="~assets/img/logo-big.svg">
          <div class="text-center">
            {{ $t('hozland_store') }}, {{ new Date().getFullYear() }}
          </div>
        </div>
        <div class="col-xl-5 col-md-6 footer__item">
          <div class="footer-columns">
            <div class="footer-columns__item">
              <div class="footer__title title title--third">{{ $t('about_company') }}</div>
              <nav class="footer-links">
                <nuxt-link
                  :to="localePath({ name: 'contact'})"
                  class="footer-links__link"
                >
                  {{ $store.state.pages.pagesLink.contact.name }}
                </nuxt-link>
                <nuxt-link
                  :to="localePath({ name: 'about'})"
                  class="footer-links__link"
                >
                  {{ $store.state.pages.pagesLink.about.name }}
                </nuxt-link>
                <nuxt-link
                  :to="localePath({ name: 'faqs'})"
                  class="footer-links__link"
                >
                  {{ $store.state.pages.pagesLink.faq.name }}
                </nuxt-link>
                <a class="footer-links__link" href="">{{ $t('brands') }}</a>
                <nuxt-link
                  :to="localePath({ name: 'blogs'})"
                  class="footer-links__link"
                >
                  {{ $store.state.pages.pagesLink.blogs.name }}
                </nuxt-link>
                <a class="footer-links__link" href="">Сотрудничество</a>
              </nav>
            </div>
            <div class="footer-columns__item">
              <div class="footer__title title title--third">{{ $t('services') }}</div>
              <nav class="footer-links">
                <a class="footer-links__link" href="">Доставка и оплата</a>
                <a class="footer-links__link" href="">Гарантии</a>
                <a class="footer-links__link" href="">Рассрочка</a>
              </nav>
            </div>
            <div class="footer-columns__item">
              <div class="footer__title title title--third">{{ $t('sections') }}</div>
              <nav class="footer-links">
                <nuxt-link
                  :to="{ path: localePath('catalog'), query: { productType: 'sale' }}"
                  class="footer-links__link"
                >
                  {{ $t('stock') }}
                </nuxt-link>
                <nuxt-link
                  :to="{ path: localePath('catalog'), query: { productType: 'season' }}"
                  class="footer-links__link"
                >
                  {{ $t('seasonal') }}
                </nuxt-link>
                <nuxt-link
                  :to="{ path: localePath('catalog'), query: { productType: 'top' }}"
                  class="footer-links__link"
                >
                  {{ $t('top_sales') }}
                </nuxt-link>
                <nuxt-link
                  :to="{ path: localePath('catalog'), query: { productType: 'new' }}"
                  class="footer-links__link"
                >
                  {{ $t('new_items') }}
                </nuxt-link>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 footer__item">
          <div class="footer__title title title--third">{{ $t('contacts') }}</div>
          <p>{{ page.time_work.time }}</p>
          <a :href="'tel:'+page.phones[0].replace(/[^0-9]/g, '')"
             class="footer__contact-link mt-1 mb-1">{{ page.phones[0] }}</a>
          <p>{{ $t('email') }}</p>
          <a :href="'mailto:'+page.emails[0]" class="footer__contact-link mt-1 mb-1">{{ page.emails[0] }}</a>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-4 col-6 footer__item">
          <div class="footer__title title title--third">{{ $t('social_networks') }}</div>
          <div class="social-media">
            <a :href="$t('instagram_url')" class="social-media__link">
              <img alt="instagram" class="social-media__icon icon-svg" src="~assets/img/icons/insta.svg">
            </a>
            <a :href="$t('telegram_url')" class="social-media__link">
              <img alt="telegram" class="social-media__icon icon-svg" src="~assets/img/icons/telegram.svg">
            </a>
            <a :href="$t('youtube_url')" class="social-media__link">
              <img alt="youtube" class="social-media__icon icon-svg" src="~assets/img/icons/youtube.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>


<script>

export default {
  async fetch() {
    try {
      const resourcePage = await this.$axios.$get('page', {
        params: {
          locale: this.$i18n.locale,
          filters: {
            type: 'contact',
          },
        }
      })
      this.page = resourcePage.data
    } catch (e) {
      console.info('footer')
      error(e)
    }
  },
  data() {
    return {
      page: null,
    }
  },
}
</script>


