<template>
  <div>
    <div v-if="!isTablet">
      <VueSlickCarousel
        ref="carousel"
        v-bind="settingSlider"
        class="slider-default"
        :class="isBrandCarousel ? 'brand-list' : 'carousel-goods'"
      >
        <slot></slot>
      </VueSlickCarousel>
    </div>
    <div v-if="isTablet" :class="isBrandCarousel ? 'brand-list brand-list--inline' : 'goods-list'">
      <slot></slot>
    </div>
  </div>
</template>
<script>

export default {
  components: {},
  props: [
    'nameCarousel',
    'isBrandCarousel',
  ],
  data() {
    const settings = {
      slidesToShow: 4,
      slidesToScroll: 1,
      speed: 800,
      dots: false,
      arrows: false,
      infinite: false,
      touchMove: false,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
          }
        },
      ]
    }
    return {
      isTablet: false,
      settingSlider: settings
    }
  },
  methods: {
    isTabletCheck() {
      this.isTablet = window.innerWidth < 992
    },
    goToPrev() {
      this.$refs.carousel.prev()
    },
    goToNext() {
      this.$refs.carousel.next()
    },
  },
  created() {
    this.$bus.on('slide-prev', (event) => {
      if (event === this.nameCarousel) {
        this.goToPrev()
      }
    })
    this.$bus.on('slide-next', (event) => {
      if (event === this.nameCarousel) {
        this.goToNext()
      }
    })
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  }
}
</script>
