<template>
  <div v-if="sliderItemsCount > 4 && !isBigTablet || isBigTablet && sliderItemsCount > 3" class="slider-controls">
    <button class="slider-controls__prev" @click="$bus.emit('slide-prev', nameCarousel)">
      <svg class="icon-svg" height="9" width="5">
        <use xlink:href="~assets/img/sprite.svg#arrow-prev"></use>
      </svg>
    </button>
    <button class="slider-controls__next" @click="$bus.emit('slide-next', nameCarousel)">
      <svg class="icon-svg" height="9" width="5">
        <use xlink:href="~assets/img/sprite.svg#arrow-next"></use>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  props: [
    'nameCarousel',
    'sliderItemsCount'
  ],
  data() {
    return {
      isBigTablet: false,
    }
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isBigTablet = window.innerWidth < 1200
      }
    },
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  }
}
</script>
