<template>
  <div>
    <nav v-if="isTablet" :class="{'open-side': openNav}" class="nav-side">
      <div class="nav-side__header">
        <img alt="" class="nav-side__logo" src="~assets/img/logo.svg">
        <a class="nav-side__user nav-side__user--login d-none" href="">
          <svg class="icon-svg" height="24" width="24">
            <use xlink:href="~assets/img/sprite.svg#user"></use>
          </svg>
          <div class="nav-side__user-info">
            <span>Здравствуйте,</span>
            <span class="nav-side__user-name">Игорь</span>
          </div>
        </a>
        <a class="nav-side__user nav-side__user--no-login" href="">
          <svg class="icon-svg" height="24" width="24">
            <use xlink:href="~assets/img/sprite.svg#enter"></use>
          </svg>
          <div class="nav-side__user-info">
            Войти <br> в аккаунт
          </div>
        </a>
        <button class="btn-reset nav-side__close" @click="openNav = !openNav">
          <svg class="icon-svg" height="18" width="19">
            <use xlink:href="~assets/img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <div class="nav-side__body">
        <ul class="nav-side__list">
          <li><a class="nav-side__link" href="">Оплата и доставка</a></li>
          <li><a class="nav-side__link" href="">Гарантии</a></li>
          <li>
            <nuxt-link
              class="nav-side__link"
              :to="localePath({ name: 'faqs'})"
            >
              {{ $store.state.pages.pagesLink.faq.name }}
            </nuxt-link>
          </li>
          <li><a class="nav-side__link" href="">Бренды</a></li>
          <li>
            <nuxt-link
              class="nav-side__link"
              :to="localePath({ name: 'about'})"
            >
              {{ $store.state.pages.pagesLink.about.name }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link
              class="nav-side__link"
              :to="localePath({ name: 'blogs'})"
            >
              {{ $store.state.pages.pagesLink.blogs.name }}
            </nuxt-link>
          </li>
          <li>
            <nuxt-link
              class="nav-side__link"
              :to="localePath({ name: 'contact'})"
            >
              {{ $store.state.pages.pagesLink.contact.name }}
            </nuxt-link>
          </li>
          <!--          <li><a class="nav-side__link" href="">График поставок</a></li>-->
          <!--          <li><a class="nav-side__link" href="">Price</a></li>-->
          <li><a class="nav-side__link" href="">SALE</a></li>
        </ul>
      </div>
      <div class="nav-side__footer">
        <div class="header-location nav-side__location">
          <svg class="icon-svg" height="14" width="14">
            <use xlink:href="~assets/img/sprite.svg#cursor"></use>
          </svg>
          <select v-model="branch" class="custom-select header-location__select" @change="setBranch()">
            <option v-for="branch of branches" :key="branch.id" :value="branch.id">{{ branch.name }}</option>
          </select>
        </div>
        <div class="header-feedback nav-side__feedback">
          <div class="header-phone">
            <BDropdown
              id="nav-dropdown-phone"
              :text="branchPhones[0].phone"
              class="header-dropdown"
              menu-class="header-phone__list"
              variant="link"
            >
              <BDropdownItem v-for="(item, index) in branchPhones" :key="index" link-class="header-phone__link">
                {{ item.phone }}
              </BDropdownItem>
            </BDropdown>
          </div>
          <button v-b-modal.feedback-modal class="header-feedback__btn btn-reset link" @click="openNav = !openNav">
            {{ $t('request_call') }}
          </button>
        </div>
        <ul class="nav-side__language">
          <li
            v-for="locale in $i18n.locales"
          >
            <nuxt-link
              :key="locale.code"
              :class="{'nav-side__language-link--active': locale.code === $i18n.locale}"
              :to="switchLocalePath(locale.code)"
              class="nav-side__language-link"
            >
              {{ locale.name }}
            </nuxt-link>
          </li>
        </ul>
      </div>
    </nav>
    <div v-if="isTablet" :class="{'open': openNav}" class="side-overlay" @click="openNav = !openNav"></div>
    <header class="header">
      <div class="container header__wrapper">
        <div v-if="!isTablet" class="header__top">
          <ul class="header__menu">
            <li class="header__menu-item">
              <a class="header__menu-link" href="">Оплата и доставка </a>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="">Гарантии</a>
            </li>
            <li class="header__menu-item">
              <nuxt-link
                class="header__menu-link"
                :to="localePath({ name: 'faqs'})"
              >
                {{ $store.state.pages.pagesLink.faq.name }}
              </nuxt-link>
            </li>
            <li class="header__menu-item">
              <a class="header__menu-link" href="">Бренды</a>
            </li>
            <li class="header__menu-item">
              <nuxt-link
                class="header__menu-link"
                :to="localePath({ name: 'about'})"
              >
                {{ $store.state.pages.pagesLink.about.name }}
              </nuxt-link>
            </li>
            <li class="header__menu-item">
              <nuxt-link
                class="header__menu-link"
                :to="localePath({ name: 'blogs'})"
              >
                {{ $store.state.pages.pagesLink.blogs.name }}
              </nuxt-link>
            </li>
            <li class="header__menu-item">
              <nuxt-link
                class="header__menu-link"
                :to="localePath({ name: 'contact'})"
              >
                {{ $store.state.pages.pagesLink.contact.name }}
              </nuxt-link>
            </li>
            <!--            <li class="header__menu-item">-->
            <!--              <a class="header__menu-link" href="">График поставок</a>-->
            <!--            </li>-->
            <!--            <li class="header__menu-item">-->
            <!--              <a class="header__menu-link header__menu-link&#45;&#45;green" href="">Price</a>-->
            <!--            </li>-->
            <li class="header__menu-item">
              <span v-b-tooltip.hover.click.blur.html class="btn-reset tooltip-icon"
                    tabindex="0"
                    title="<div class='tooltip-inner__title'>Что такое скидка</div>Интернет-магазин «Техно Еж» — это площадка, где вы сможете найти самые актуальные предложения из мира техники.">
                  <svg class="icon-svg" height="12" width="12"><use
                    xlink:href="~assets/img/sprite.svg#tooltip"></use></svg>
                </span>
              <a class="header__menu-link header__menu-link--red" href="">
                SALE
              </a>
            </li>
          </ul>
          <BDropdown
            id="dropdown-language"
            :text="$t($i18n.locale)"
            class="header__language header-dropdown"
            menu-class="header__language-menu"
            variant="link"
          >
            <BDropdownItem
              v-for="locale in $i18n.locales"
              v-if="locale.code !== $i18n.locale"
              :key="locale.code"
              link-class="header__language-link"
              @click="$router.push(switchLocalePath(locale.code))"
            >
              {{ locale.name }}
            </BDropdownItem>
          </BDropdown>
        </div>
        <div class="header__bottom">
          <NuxtLink :to="localePath('/')" class="header__logo-link">
            <img alt="Hozland" class="header__logo" src="~/assets/img/logo.svg">
          </NuxtLink>
          <NuxtLink :to="localePath('catalog')" class="header__catalog-btn header__indent">
            <svg class="icon-svg" height="21" width="24">
              <use xlink:href="~assets/img/sprite.svg#burger"></use>
            </svg>
            {{ $t('catalog') }}
          </NuxtLink>
          <form :class="{'show' :showSearch}" class="header__search header__indent">
            <span class="btn-reset btn-close-search" role="button" type="button" @click="showSearch = !showSearch"><svg
              class="icon-svg" height="20" width="20"><use
              xlink:href="~assets/img/sprite.svg#carousel-left"></use></svg></span>
            <input v-model="search" :placeholder="$t('im_looking')" class="header__search-input form-control"
                   type="text">
            <nuxt-link :to="{ path: localePath('catalog'), query: { search: search }}"
                       class="header__search-submit btn-reset">
              <svg class="icon-svg" height="20" width="20">
                <use xlink:href="~assets/img/sprite.svg#search"></use>
              </svg>
            </nuxt-link>
          </form>
          <div v-if="!isTablet" class="header-feedback header__indent">
            <div class="header-phone">
              <BDropdown
                id="dropdown-phone"
                :text="branchPhones[0].phone"
                class="header-dropdown"
                menu-class="header-phone__list"
                variant="link"
              >
                <BDropdownItem v-for="(item, index) in branchPhones" :key="index" link-class="header-phone__link">
                  {{ item.phone }}
                </BDropdownItem>
              </BDropdown>
            </div>
            <button v-b-modal.feedback-modal class="header-feedback__btn btn-reset link">{{
                $t('request_call')
              }}
            </button>
          </div>
          <!--
          <button class="btn-reset font-weight-700 link link--small">Договор</button>
          -->
          <div v-if="!isTablet" class="header-location header__indent">
            <svg class="icon-svg" height="14" width="14">
              <use xlink:href="~assets/img/sprite.svg#cursor"></use>
            </svg>
            <select v-model="branch" class="custom-select header-location__select" @change="setBranch()">
              <option v-for="branch of branches" :key="branch.id" :value="branch.id">{{ branch.name }}</option>
            </select>
          </div>
          <button class="btn-open-search btn-reset" @click="showSearch = !showSearch">
            <svg class="icon-svg" height="20" width="20">
              <use xlink:href="~assets/img/sprite.svg#search"></use>
            </svg>
          </button>
          <div class="header__user">
            <a v-if="!isTablet" class="header__user-btn" href="">
              <svg class="header__user-icon icon-svg">
                <use xlink:href="~assets/img/sprite.svg#enter"></use>
              </svg>
            </a>
            <a v-if="!isTablet" class="header__user-btn" href="">
              <div class="header__user-badge"><span>10</span></div>
              <svg class="header__user-icon icon-svg">
                <use xlink:href="~assets/img/sprite.svg#hearth"></use>
              </svg>
            </a>
            <a class="header__user-btn header__user-btn--flex" href="">
              <div class="header__user-badge"><span>4</span></div>
              <svg class="header__user-icon icon-svg">
                <use xlink:href="~assets/img/sprite.svg#shop-cart"></use>
              </svg>
            </a>
          </div>
          <button v-if="isTablet" class="menu-burger" @click="openNav = !openNav">
            <span class="menu-burger__wrapper">
                <span class="menu-burger__line"></span>
                <span class="menu-burger__line"></span>
                <span class="menu-burger__line"></span>
            </span>
          </button>
        </div>
      </div>
    </header>
  </div>
</template>


<script>
import {BDropdown, BDropdownItem} from 'bootstrap-vue'

export default {
  components: {
    BDropdown,
    BDropdownItem
  },
  data() {
    return {
      branch: this.$store.getters['branches/getBranchId'],
      isTablet: false,
      openNav: false,
      showSearch: false,
      lastScrollTop: 0,
      maxScroll: 0,
      search: '',
    }
  },
  methods: {
    async setBranch() {
      await this.$store.commit('branches/setBranchId', this.branch)
      this.$nuxt.refresh()
    },
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
    handleScroll() {
      if (process.client) {
        if (window.pageYOffset > 43) {
          document.querySelector('.header').classList.add('header--sticky')
        } else {
          document.querySelector('.header').classList.remove('header--sticky')
        }
      }
    }
  },
  computed: {
    branches() {
      return this.$store.getters['branches/getBranches']
    },
    branchPhones() {
      return this.$store.getters['branches/getBranchPhones']
    }
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);

      window.addEventListener("scroll", this.handleScroll, false);
      window.addEventListener("load", this.handleScroll, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);

      window.removeEventListener('resize', this.handleScroll);
      window.removeEventListener('load', this.handleScroll);
    }
  },
}
</script>

