<template>
  <div class="quantity">
    <button :class="isColorChange" class="quantity__btn quantity__btn--minus" type="button" @click="minus">
      <svg class="icon-svg" height="3" width="14">
        <use xlink:href="~assets/img/sprite.svg#minus"></use>
      </svg>
    </button>
    <input :value="value" class="quantity__input" type="text">
    <button :class="isColorChange" class="quantity__btn quantity__btn--plus" type="button" @click="plus">
      <svg class="icon-svg" height="14" width="14">
        <use xlink:href="~assets/img/sprite.svg#plus"></use>
      </svg>
    </button>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      default: 1
    }
  },
  date() {
    return {}
  },
  methods: {
    plus() {
      this.$emit('input', this.value + 1)
    },
    minus() {
      if (this.value > 0) {
        this.$emit('input', this.value - 1)
      }
    },
  },
  computed: {
    isColorChange() {
      let className = '';
      if (this.value >= 5) {
        className = 'quantity__btn--yellow'
      } else if (this.value >= 3) {
        className = 'quantity__btn--red'
      }
      return className;
    }
  }
}
</script>
