<template>
  <div class="seo-text dynamic-content">
    <div :class="{'open': toggleBox}" class="seo-text__body">
      <slot></slot>
    </div>
    <div class="text-center">
      <button class="btn-reset link seo-text__btn" @click="toggleBox = !toggleBox">
        <span v-if="!toggleBox">{{ $t('read_more') }}</span>
        <span v-if="toggleBox">{{ $t('collapse') }}</span>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      toggleBox: false,
    }
  }
}
</script>
