<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('faqs.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>

                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('faqs.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('faqs.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]"
                                                   class="text-danger">{{ errors['name.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- question -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('faqs.form.question.title') + '('+ locale +')'"
                                            :label-for="'question-'+locale"
                                        >
                                            <b-form-input
                                                :id="'question-'+locale"
                                                v-model="form.question[locale]"
                                                :name="'question-'+locale"
                                                :placeholder="trans.get('faqs.form.question.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['question.'+locale]"
                                                   class="text-danger">{{ errors['question.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- reply -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('faqs.form.reply.title') + '('+ locale +')'"
                                            :label-for="'reply-'+locale"
                                        >
                                            <editor
                                                :id="'reply-'+locale"
                                                :key="'reply-'+locale"
                                                v-model="form.reply[locale]"
                                                :placeholder="trans.get('faqs.form.reply.placeholder') + '('+ locale +')'"
                                            />
                                            <small v-if="errors['reply.'+locale]"
                                                   class="text-danger">{{ errors['reply.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                </b-card-text>
                            </b-tab>
                        </b-tabs>

                        <!-- position -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('faqs.form.position.title')"
                                label-for="position"
                            >
                                <b-form-input
                                    id="position"
                                    v-model="form.position"
                                    :placeholder="trans.get('faqs.form.position.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    name="position"
                                />
                                <small v-if="errors['position']" class="text-danger">{{ errors['position'] }}</small>
                            </b-form-group>
                        </div>

                    </div>

                    <inertia-link
                        :href="route('page-faqs.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.create') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BFormCheckbox,
    BFormFile,
    BTabs,
    BTab,
    BCardText,
    BCard,
    BFormRadioGroup,
    BFormRadio,
} from 'bootstrap-vue'
import Editor from '@/js/components/Editor'

export default {
    props: ['errors', 'categories', 'recommend'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BFormRadioGroup,
        BFormRadio,

        Editor,
    },
    data() {
        return {
            form: {
                name: {},
                question: {},
                reply: {},
                position: 0,
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('page-faqs.store'), this.form, {
                forceFormData: true,
            })
        },
    },
    mounted() {
        // const locales = JSON.stringify(this.$page.props.locales)
        const locales = this.$page.props.locales.reduce(function (o, val) {
            o[val] = null;
            return o;
        }, {})
        this.form.name = Object.assign({}, locales)
        this.form.question = Object.assign({}, locales)
        this.form.reply = Object.assign({}, locales)
    }
}
</script>
<style lang="css">
</style>
