<template>
<div>
  <b-breadcrumb :items="breadcrumb"></b-breadcrumb>
  <div class="article">
    <div class="article__left">
      <div v-if="isTablet" class="text-center">
        <div class="article__header justify-content-center">
          <div class="article__date title title--small article__header-item">{{ article.date }}</div>
        </div>
        <div class="title title--main article__title">{{ article.name }}</div>
      </div>
      <CoolLightBox
        :items="images"
        :index="indexImage"
        @close="indexImage = null">
      </CoolLightBox>
      <div class="article__gallery __gallery">
        <transition name="image" mode="out-in">
          <img :src="currentImage" alt="" :key="currentImage" class="article__gallery-main-img img-default __gallery-main-img" @click="indexImage = activeImage">
        </transition>
      </div>
      <VueSlickCarousel
        class="article__gallery-thumbs __gallery-thumbs"
        v-bind="settingsThumb"
      >
        <template #prevArrow="arrowOption">
          <button class="slick-prev">
            <svg width="24" height="24" class="icon-svg"><use xlink:href="~assets/img/sprite.svg#carousel-left"></use></svg>
          </button>
        </template>
        <template #nextArrow="arrowOption">
          <button class="slick-next">
            <svg width="24" height="24" class="icon-svg"><use xlink:href="~assets/img/sprite.svg#carousel-right"></use></svg>
          </button>
        </template>
        <div v-for="(image, imageIndex) in  images" class="__gallery-thumbs-i">
          <div class="article__gallery-thumb __gallery-thumb" :class="{'active' : !isActiveImage}">
            <img :src="image.url_thumb" alt="" class="img-default" @click="activateImage(imageIndex)">
          </div>
        </div>
      </VueSlickCarousel>
    </div>
    <div class="article__right dynamic-content dynamic-content--page ">
      <div v-if="!isTablet">
        <div class="article__header">
          <div class="article__date title title--small article__header-item">{{ article.date }}</div>
        </div>
        <div class="title title--main article__title">{{ article.name }}</div>
      </div>
      <div v-html="article.content"></div>
    </div>
  </div>
  <nuxt-link
    class="link"
    :to="localePath({ name: 'blogs'})"
  >
    {{ $t('all_articles') }}
  </nuxt-link>
  <section v-if="article.relationships.recommend.meta.count > 0" class="section-articles">
    <h2 class="title title--main">{{ $t('similar_articles') }}</h2>
    <div class="row article-list article-list--similar">
      <div class="col-lg-4 col-sm-6 article-list__item" v-for="data in article.relationships.recommend.data">
        <CardArticle :data-article="data"/>
      </div>
    </div>
  </section>
<!--  <section class="section-goods section-goods&#45;&#45;category">-->
<!--    <div class="section-goods__head">-->
<!--      <h2 class="title title&#45;&#45;main section-goods__title">Каталог товаров Алеана</h2>-->
<!--      <div class="slider-controls" v-if="sliderItemsCount > 6">-->
<!--        <button class="slider-controls__prev" @click="$refs.categoryCarousel.prev()">-->
<!--          <svg width="5" height="9" class="icon-svg"><use xlink:href="dist/img/sprite.svg#arrow-prev"></use></svg>-->
<!--        </button>-->
<!--        <button class="slider-controls__next" @click="$refs.categoryCarousel.next()">-->
<!--          <svg width="5" height="9" class="icon-svg"><use xlink:href="dist/img/sprite.svg#arrow-next"></use></svg>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <VueSlickCarousel v-bind="settings" class="slider-default categories-list" ref="categoryCarousel">-->
<!--      <div v-for="n in 10" class="categories-list__item slider-default__item"><CardCategory/></div>-->
<!--    </VueSlickCarousel>-->
<!--  </section>-->
</div>
</template>

<script>
import CardArticle from "../../components/Blog/CardArticle"
// import CardCategory from "../components/CardCategory"
import {BBreadcrumb} from 'bootstrap-vue'
import CoolLightBox from 'vue-cool-lightbox'

export default {
  components: {
    CardArticle,
    BBreadcrumb,
    CoolLightBox
  },
  head() {
    return {
      title: this.article.title,
      meta: [
        {
        name: 'keywords',
        content: this.article.keywords,
        },
        {
        name: 'description',
        content: this.article.description,
        }
      ],
      htmlAttrs: {
        lang: this.$i18n.locale
      },
      bodyAttrs: {
        class: 'faqs'
      }
    }
  },
  async asyncData({params, $axios, i18n, app}) {
    try {
      const resourcePage = await $axios.$get('article', {
        params: {
          locale: i18n.locale,
          filters: {
            slug: params.slug,
          },
          relationships: {
            recommend: true,
          },
        }
      }).catch(({response}) => {
        console.log('fail-one-article');
        console.log(response)
      })

      const article = resourcePage.data
      const images = resourcePage.data.images

      return {
        article,
        images,
        breadcrumb: [
          {
            text: i18n.t('home'),
            href: app.localePath('/')
          },
          {
            text: i18n.t('blog'),
            href: app.localePath('blog')
          },
          {
            text: article.name,
            active: true
          },
        ],
      }
    } catch (e) {
      error(e)
    }

  },
  data(){
    return {
      isTablet: false,
      images: [],
      activeImage: 0,
      indexImage: null,
      isActiveImage: false,

      settingsThumb: {
        slidesToShow: 4,
        slidesToScroll: 1,
        speed: 800,
        dots: false,
        arrows: true,
        infinite: false,
        touchMove: true,
        responsive: [
          {
            breakpoint: 600,
            settings: "unslick"
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 4
            }
          },
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 3
            }
          }
        ]
      },

      sliderItemsCount: 10,

      settings: {
        slidesToShow: 6,
        slidesToScroll: 1,
        speed: 800,
        dots: false,
        arrows: false,
        infinite: false,
        touchMove: true,
        responsive: [
          {
            breakpoint: 1200,
            settings: {
              slidesToShow: 4,
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
            }
          },
          {
            breakpoint: 575,
            settings: {
              slidesToShow: 2,
            }
          },
        ]
      },
    }
  },
  computed: {
    mainClass() {
      return this.$store.getters['main/getMainClass']
    },
    currentImage() {
      return this.images[this.activeImage].url_main;
    }
  },
  methods: {
    activateImage(imageIndex) {
      this.isActiveImage = true
      this.activeImage = imageIndex;
    },
    isTabletCheck() {
      this.isTablet = window.innerWidth < 992
    },
  },
  create() {
    this.$store.commit('main/setMainClass', 'container')
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  },
}
</script>
