<template>
  <section v-if="products.length > 0"
           class="section-goods"
  >
    <div class="section-goods__head">
      <span :class="textClass" class="bg-text">{{ text }}</span>
      <h2 :class="titleClass" class="title title--main">{{ title }}</h2>
      <NuxtLink :to="url" class="link section-goods__link">
        {{ urlText }}
      </NuxtLink>
      <GoodsCarouselBtn v-if="!isTablet"
                        :name-carousel="name"
                        slider-items-count="10"
      />
    </div>
    <GoodsCarousel :name-carousel="name">
      <div v-for="product in products"
           :class="!isTablet ? 'carousel-goods__item slider-default__item' : 'goods-list__item'">
        <CardGoods :dataProduct="product"/>
      </div>
    </GoodsCarousel>
  </section>
</template>

<script>
import GoodsCarousel from '../GoodsCarousel'
import GoodsCarouselBtn from '../GoodsCarouselBtn'
import CardGoods from '../CardGoods'

export default {
  props: {
    classSection: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    textClass: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    titleClass: {
      type: String,
      default: ''
    },
    url: {
      type: String | Object,
      default: ''
    },
    urlText: {
      type: String,
      default: ''
    },
    type: {
      type: String,
    },
  },
  components: {
    GoodsCarousel,
    GoodsCarouselBtn,
    CardGoods
  },
  async fetch() {
    try {
      let branchId = await this.$store.getters['branches/getBranchId'];
      let resourceProductType = await this.$axios.$get('products/type', {
        params: {
          locale: this.$i18n.locale,
          filters: {
            type: this.type,
            branch: branchId,
          },
          limit: 10
        }
      })
      this.products = resourceProductType.data
    } catch (e) {
      console.info('products-type-' + this.type)
      error(e)
    }
  },
  data() {
    return {
      products: [],
      isTablet: false,
    }
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  }
}

</script>
