<template>
  <section class="section-goods section-goods--brand">
    <div class="section-goods__head">
      <span class="bg-text bg-text--brand">{{ $t('manufacturers_goods') }}</span>
      <h2 class="title title--main section-goods__title">{{ $t('brands') }}</h2>
      <a class="link section-goods__link" href="">{{ $t('view_all_brands') }}</a>
      <GoodsCarouselBtn
        v-if="!isTablet"
        name-carousel="slider-brand"
        slider-items-count="5"
      />
    </div>
    <GoodsCarousel :is-brand-carousel="true" name-carousel="slider-brand">
      <div v-for="brand in brands" :class="{'brand-list__col' : isTablet}" class="slider-default__item">
        <BrandItem
          :brands-data="brand"
        />
      </div>
    </GoodsCarousel>
  </section>
</template>

<script>
import GoodsCarousel from '../GoodsCarousel'
import GoodsCarouselBtn from '../GoodsCarouselBtn'
import BrandItem from '../Brand/BrandItem'

export default {
  components: {
    GoodsCarousel,
    GoodsCarouselBtn,
    BrandItem
  },
  async fetch() {
    try {
      const resourceBrands = await this.$axios.$get('brands', {
        params: {
          locale: this.$i18n.locale,
          filters: {
            show_main: true,
          },
          sort: 'main_position'
        }
      })
      this.brands = resourceBrands.data
    } catch (e) {
      console.info('slider-brands')
      error(e)
    }
  },
  data() {
    return {
      brands: [],
      isTablet: false,
    }
  },
  methods: {
    isTabletCheck() {
      if (process.client) {
        this.isTablet = window.innerWidth < 992
      }
    },
  },
  beforeMount() {
    if (process.client) {
      window.addEventListener("resize", this.isTabletCheck, false);
      window.addEventListener("load", this.isTabletCheck, false);
    }
  },
  beforeDestroy() {
    if (process.client) {
      window.removeEventListener('resize', this.isTabletCheck);
      window.removeEventListener('load', this.isTabletCheck);
    }
  },
}

</script>
