<template>
    <div>
        <Editor
            :id="id"
            ref="editor"
            :init="init"
            :initial-value="initial"
            :value="value"
            api-key="no-api-key"
            @input="content = $event"
            @onChange="input"/>
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue'

export default {
    components: {
        Editor
    },
    props: {
        id: {
            type: String,
            default: ''
        },
        initial: {
            type: String,
            default: ''
        },
        height: {
            type: Number,
            default: 500
        },
        placeholder: {
            type: String,
            default: ''
        },
        value: String
    },
    data() {
        return {
            content: '',
            init: {
                height: null,
                language: 'ru',
                placeholder: this.placeholder,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste imagetools wordcount'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                    '//www.tiny.cloud/css/codepen.min.css'
                ],
                convert_urls: false,
                images_upload_handler: async (blobInfo, success, failure) => {
                    const formData = new FormData()
                    formData.append('image', blobInfo.blob(), blobInfo.filename())
                    try {
                        const {data} = await this.axios.post(this.route('media.store'), formData, {
                            headers: {
                                'Content-Type': 'multipart/form-data'
                            }
                        })
                        success(data.location)
                    } catch ({response}) {
                        if (response.status === 422) {
                            failure(`Error: ${response.data.errors.image.join('\n')}`)
                        } else {
                            failure(`HTTP Error: ${response.status}`)
                        }
                    }
                }
            },
            editorInit: {
                plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
                imagetools_cors_hosts: ['picsum.photos'],
                menubar: 'file edit view insert format tools table help',
                toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                toolbar_sticky: true,
                image_advtab: true,
                importcss_append: true,
                file_picker_callback: function (callback, value, meta) {
                    /* Provide file and text for the link dialog */
                    if (meta.filetype === 'file') {
                        callback('https://www.google.com/logos/google.jpg', {text: 'My text'});
                    }

                    /* Provide image and alt text for the image dialog */
                    if (meta.filetype === 'image') {
                        callback('https://www.google.com/logos/google.jpg', {alt: 'My alt text'});
                    }

                    /* Provide alternative source and posted for the media dialog */
                    if (meta.filetype === 'media') {
                        callback('movie.mp4', {source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg'});
                    }
                },
                templates: [
                    {
                        title: 'New Table',
                        description: 'creates a new table',
                        content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>'
                    },
                    {
                        title: 'Starting my story',
                        description: 'A cure for writers block',
                        content: 'Once upon a time...'
                    },
                    {
                        title: 'New list with dates',
                        description: 'New List with dates',
                        content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>'
                    }
                ],
                height: 600,
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                noneditable_noneditable_class: 'mceNonEditable',
                toolbar_mode: 'sliding',
                contextmenu: 'link image imagetools table',
                skin: 'oxide',
                content_css: 'default',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
            }
        }
    },
    watch: {
        value(value) {
            if (value !== window.tinyMCE.editors[this.id].getContent()) {
                window.tinyMCE.editors[this.id].setContent(value !== undefined ? value : '')
            }
        }
    },
    created() {
        this.init.height = this.height
        this.text = this.initial
    },
    methods: {
        input() {
            this.$emit('input', this.content)
        }
    }
}
</script>
<style lang="css">
.tox.tox-silver-sink.tox-tinymce-aux .tox-notifications-container {
    display: none;
}
</style>

