<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('lang_strings.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>
                                    <!-- value -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('lang_strings.form.value.title') + '('+ locale +')'"
                                            :label-for="'value-'+locale"
                                        >
                                            <b-form-input
                                                :id="'value-'+locale"
                                                v-model="form.value[locale]"
                                                :name="'login-value-'+locale"
                                                :placeholder="trans.get('lang_strings.form.value.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['value.'+locale]" class="text-danger">{{
                                                    errors['value.' + locale]
                                                }}</small>
                                        </b-form-group>
                                    </div>
                                </b-card-text>
                            </b-tab>
                        </b-tabs>
                        <!-- system_name -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('lang_strings.form.system_name.title')"
                                label-for="system_name"
                            >
                                <b-form-input
                                    id="name"
                                    v-model="form.system_name"
                                    :placeholder="trans.get('lang_strings.form.system_name.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    autofocus
                                    name="login-name"
                                />
                                <small class="text-danger">{{ errors.system_name }}</small>
                            </b-form-group>
                        </div>
                    </div>


                    <inertia-link
                        :href="route('lang-strings.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.edit') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup, BFormCheckbox, BFormFile, BTabs, BTab, BCardText, BCard,
} from 'bootstrap-vue'

export default {
    props: ['data', 'errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
    },
    data() {
        return {
            form: {
                id: this.data.data.id,
                value: {},
                system_name: this.data.data.system_name,
                '_method': 'put',
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('lang-strings.update', this.data.data.id), this.form)
        },
    },
    mounted() {
        for (const locale in this.data.data.translations) {
            for (const value in this.data.data.translations[locale]) {
                this.$set(this.form[value], locale, this.data.data.translations[locale][value])
            }
        }
    }
}
</script>
<style lang="css">
</style>
