<template>
  <div class="item-brand">
    <div class="item-brand__body">
      <div class="item-brand__img-wrap">
        <img
          :alt="brandsData.name"
          :src="brandsData.image.url_thumb ? brandsData.image.url_thumb : require(`~/assets/img/default-goods.svg`)"
          class="item-brand__img">
      </div>
      <div class="item-brand__name">{{ brandsData.name }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['brandsData'],
}
</script>
