<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('articles.title.create') }}</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <b-tabs
                            align="left"
                            pills
                        >
                            <b-tab v-for="(locale, key) in $page.props.locales"
                                   :key="key"
                                   :active="key == 0"
                                   :title="locale"
                            >
                                <b-card-text>

                                    <!-- name -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.name.title') + '('+ locale +')'"
                                            :label-for="'name-'+locale"
                                        >
                                            <b-form-input
                                                :id="'name-'+locale"
                                                v-model="form.name[locale]"
                                                :name="'name-'+locale"
                                                :placeholder="trans.get('articles.form.name.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['name.'+locale]"
                                                   class="text-danger">{{ errors['name.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- title -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.title.title') + '('+ locale +')'"
                                            :label-for="'title-'+locale"
                                        >
                                            <b-form-input
                                                :id="'title-'+locale"
                                                v-model="form.title[locale]"
                                                :name="'title-'+locale"
                                                :placeholder="trans.get('articles.form.title.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['title.'+locale]"
                                                   class="text-danger">{{ errors['title.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- keywords -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.keywords.title') + '('+ locale +')'"
                                            :label-for="'keywords-'+locale"
                                        >
                                            <b-form-input
                                                :id="'keywords-'+locale"
                                                v-model="form.keywords[locale]"
                                                :name="'keywords-'+locale"
                                                :placeholder="trans.get('articles.form.keywords.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['keywords.'+locale]"
                                                   class="text-danger">{{ errors['keywords.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- description -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.description.title') + '('+ locale +')'"
                                            :label-for="'description-'+locale"
                                        >
                                            <b-form-input
                                                :id="'description-'+locale"
                                                v-model="form.description[locale]"
                                                :name="'description-'+locale"
                                                :placeholder="trans.get('articles.form.description.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['description.'+locale]"
                                                   class="text-danger">{{ errors['description.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- slug -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.slug.title') + '('+ locale +')'"
                                            :label-for="'slug-'+locale"
                                        >
                                            <b-form-input
                                                :id="'slug-'+locale"
                                                v-model="form.slug[locale]"
                                                :name="'slug-'+locale"
                                                :placeholder="trans.get('articles.form.slug.placeholder') + '('+ locale +')'"
                                                :state="errors.length > 0 ? false:null"
                                            />
                                            <small v-if="errors['slug.'+locale]"
                                                   class="text-danger">{{ errors['slug.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                    <!-- content -->
                                    <div class="mb-1">
                                        <b-form-group
                                            :label="trans.get('articles.form.content.title') + '('+ locale +')'"
                                            :label-for="'content-'+locale"
                                        >
                                            <editor
                                                :id="'content-'+locale"
                                                :key="'content-'+locale"
                                                v-model="form.content[locale]"
                                                :placeholder="trans.get('articles.form.content.placeholder') + '('+ locale +')'"
                                            />
                                            <small v-if="errors['content.'+locale]"
                                                   class="text-danger">{{ errors['content.' + locale] }}</small>
                                        </b-form-group>
                                    </div>

                                </b-card-text>
                            </b-tab>
                        </b-tabs>

                        <!-- categories -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('articles.form.categories.title')"
                                label-for="categories"
                            >
                                <v-select
                                    id="categories"
                                    v-model="form.categories"
                                    :multiple="true"
                                    :options="categories.data"
                                    :reduce="category => category.id"
                                    label="name"
                                >
                                    <div slot="no-options">{{ trans.get('general.text.select_no_results') }}</div>
                                </v-select>
                                <small v-if="errors['categories']" class="text-danger">{{
                                        errors['categories']
                                    }}</small>
                            </b-form-group>
                        </div>

                        <!-- recommend -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('articles.form.recommend.title')"
                                label-for="recommend"
                            >
                                <v-select
                                    id="recommend"
                                    v-model="form.recommend"
                                    :multiple="true"
                                    :options="recommend.data"
                                    :reduce="category => category.id"
                                    label="name"
                                >
                                    <div slot="no-options">{{ trans.get('general.text.select_no_results') }}</div>
                                </v-select>
                                <small v-if="errors['recommend']" class="text-danger">{{
                                        errors['recommend']
                                    }}</small>
                            </b-form-group>
                        </div>

                        <!-- image_thumb -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('articles.form.image_thumb.title')"
                                label-for="image_thumb"
                            >
                                <b-form-file
                                    id="image_thumb"
                                    v-model="form.image_thumb"
                                    :placeholder="trans.get('articles.form.image_thumb.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    accept="image/*"
                                    name="image_thumb"
                                    @change="imgPreview"
                                />
                                <small v-if="errors['image_thumb']" class="text-danger">{{
                                        errors['image_thumb']
                                    }}</small>
                            </b-form-group>
                            <b-card
                                v-if="!lodash.isEmpty(img_preview)"
                                :img-alt="img_preview.name"
                                :img-src="img_preview.url"
                                :title="img_preview.name"
                                class="mb-3"
                                img-bottom
                            >
                                <b-card-text>
                                    <b-button
                                        class="btn-icon float-right"
                                        variant="gradient-danger"
                                        @click="deleteImage()"
                                    >
                                        <feather-icon icon="Trash2Icon"/>
                                    </b-button>
                                </b-card-text>
                            </b-card>
                        </div>

                        <!-- images_gallery -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('articles.form.images_gallery.title')"
                                label-for="images_gallery"
                            >
                                <b-form-file
                                    id="images_gallery"
                                    v-model="form.images_gallery"
                                    :placeholder="trans.get('articles.form.images_gallery.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    accept="image/*"
                                    multiple
                                    name="images_gallery"
                                    @change="imgsPreview"
                                />
                                <small v-if="errors['images_gallery']" class="text-danger">{{
                                        errors['images_gallery']
                                    }}</small>
                            </b-form-group>
                            <div class="row match-height">
                                <b-card
                                    v-for="(image, index) in images_gallery_preview"
                                    v-if="!lodash.isEmpty(images_gallery_preview)"
                                    :key="index"
                                    :img-alt="image.name"
                                    :img-src="image.url"
                                    :title="image.name"
                                    class="mb-3 col-md-6 col-lg-3"
                                    img-bottom
                                >
                                    <b-card-text>
                                        <b-button
                                            class="btn-icon float-right"
                                            variant="gradient-danger"
                                            @click="deleteImages(index)"
                                        >
                                            <feather-icon icon="Trash2Icon"/>
                                        </b-button>
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>

                    </div>

                    <inertia-link
                        :href="route('blog-articles.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.create') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton,
    BForm,
    BFormInput,
    BFormGroup,
    BInputGroup,
    BFormCheckbox,
    BFormFile,
    BTabs,
    BTab,
    BCardText,
    BCard,
    BFormRadioGroup,
    BFormRadio,
} from 'bootstrap-vue'
import Editor from '@/js/components/Editor'
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';

export default {
    props: ['errors', 'categories', 'recommend'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
        BFormCheckbox,
        BFormFile,
        BTabs,
        BTab,
        BCardText,
        BCard,
        BFormRadioGroup,
        BFormRadio,

        Editor,
        'v-select': vSelect
    },
    data() {
        return {
            form: {
                name: {},
                title: {},
                keywords: {},
                description: {},
                slug: {},
                content: {},
                categories: [],
                recommend: [],
                image_thumb: null,
                images_gallery: [],
            },
            img_preview: {},
            images_gallery_preview: []
        }
    },
    computed: {},
    methods: {
        submit() {
            this.$inertia.post(this.route('blog-articles.store'), this.form, {
                forceFormData: true,
            })
        },
        imgPreview(e) {
            var file = e.target.files[0]
            this.img_preview = {name: file.name, url: URL.createObjectURL(file)}
            this.form.image_thumb = file
            const reader = new FileReader()
        },
        deleteImage() {
            this.$confirm(this.trans.get('general.text.delete_confirm'), null, null, {
                confirmButtonText: this.trans.get('general.text.yes'),
                cancelButtonText: this.trans.get('general.text.no'),
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn m-1 btn-sm base-button btn-primary',
                    cancelButton: 'btn m-1 btn-sm base-button btn-danger'
                }
            }).then(async () => {
                try {
                    this.img_preview = {};
                    this.form.image_thumb = null;
                } catch (e) {
                    console.log('Ошибка при удалении', e)
                } finally {
                    // this.isBusy = false
                }
            }).catch()
        },
        imgsPreview(e) {
            let files = e.target.files
            for (let fileKey in files) {
                let file = files[fileKey]
                this.images_gallery_preview.push({name: file.name, url: URL.createObjectURL(file)})
                this.form.images_gallery.push(file)
                let reader = new FileReader()
            }
        },
        deleteImages(index) {
            this.$confirm(this.trans.get('general.text.delete_confirm'), null, null, {
                confirmButtonText: this.trans.get('general.text.yes'),
                cancelButtonText: this.trans.get('general.text.no'),
                buttonsStyling: false,
                customClass: {
                    confirmButton: 'btn m-1 btn-sm base-button btn-primary',
                    cancelButton: 'btn m-1 btn-sm base-button btn-danger'
                }
            }).then(async () => {
                try {
                    this.images_gallery_preview.splice(index, 1)
                    this.form.images_gallery.splice(index, 1)
                } catch (e) {
                    console.log('Ошибка при удалении', e)
                } finally {
                    // this.isBusy = false
                }
            }).catch()
        },
    },
    mounted() {
        // const locales = JSON.stringify(this.$page.props.locales)
        const locales = this.$page.props.locales.reduce(function (o, val) {
            o[val] = null;
            return o;
        }, {})
        this.form.name = Object.assign({}, locales)
        this.form.title = Object.assign({}, locales)
        this.form.keywords = Object.assign({}, locales)
        this.form.description = Object.assign({}, locales)
        this.form.content = Object.assign({}, locales)
        this.form.slug = Object.assign({}, locales)
    },
}
</script>
<style lang="css">
</style>
