<template>
    <layout>
        <div class="content-body">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ trans.get('admins.title.create') }}</h4>

                </div>
                <div class="card-body">
                    <div class="card-text">
                        <!-- name -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('admins.form.name.title')"
                                label-for="name"
                            >
                                <b-form-input
                                    id="name"
                                    v-model="form.name"
                                    :placeholder="trans.get('admins.form.name.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    autofocus
                                    name="login-name"
                                />
                                <small class="text-danger">{{ errors.name }}</small>
                            </b-form-group>
                        </div>
                        <!-- email -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('admins.form.email.title')"
                                label-for="email"
                            >
                                <b-form-input
                                    id="email"
                                    v-model="form.email"
                                    :placeholder="trans.get('admins.form.email.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    name="login-email"
                                    type="email"
                                />
                                <small class="text-danger">{{ errors.email }}</small>
                            </b-form-group>
                        </div>
                        <!-- password -->
                        <div class="mb-1">
                            <b-form-group
                                :label="trans.get('admins.form.password.title')"
                                label-for="password"
                            >
                                <b-form-input
                                    id="password"
                                    v-model="form.password"
                                    :placeholder="trans.get('admins.form.password.placeholder')"
                                    :state="errors.length > 0 ? false:null"
                                    name="login-password"
                                    type="password"
                                />
                                <small class="text-danger">{{ errors.password }}</small>
                            </b-form-group>
                        </div>
                    </div>


                    <inertia-link
                        :href="route('admins.index')"
                        class="btn add-new btn-primary mt-50"
                    >
                        {{ trans.get('general.text.back') }}
                    </inertia-link>
                    <div
                        class="btn add-new btn-success mt-50 float-end"
                        @click.prevent="submit()"
                    >
                        {{ trans.get('general.text.create') }}
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import LayoutMain from '@/js/layouts/Main'
import {
    BButton, BForm, BFormInput, BFormGroup, BInputGroup,
} from 'bootstrap-vue'

export default {
    props: ['errors'],
    components: {
        'layout': LayoutMain,

        BButton,
        BForm,
        BFormInput,
        BFormGroup,
        BInputGroup,
    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                password: '',
            },
        }
    },
    computed: {},
    methods: {
        submit() {
            this.$inertia.post(this.route('admins.store'), this.form)
        },
    }
}
</script>

<style lang="css">
</style>
